<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.smart_academy.academy_manage.courseandscore.mapper.CourseAndScoreMapper">
	
	<!-- 특정 검색 키워드를 입력받아 해당 키워드에 맞는 성적결과 리스트를 리턴한다. -->
	<!-- 관리자, 강사, 학생 -->
	<select id="totalGradeResultList" parameterType="map" resultType="map">
		select
			 co.course_name								AS courseName
			,(select member_name from member where mem.member_id = tea.teacher_id) AS teacherName
			,aro.room_number							AS roomNumber
			,aro.room_floor								AS roomFloor
			,ed.examination_name						AS examinationName
			,ed.examination_day							AS examinationDay
			,(select member_name from member where mem.member_id = cen.member_id) AS studentName
			,si.score_input_no							AS scoreInputNo
			,si.score_input_test_score					AS scoreInputTestScore
			,gcr.grading_criteria_rating				AS gradingCriteriaRating
			,gcr.grading_criteria_start_of_section		AS gradingCriteriaStartOfSection
			,gcr.grading_criteria_end_of_section		AS gradingCriteriaEndOfSection
		from
			 score_input					AS si
			,examination_day				AS ed
			,course_room_assignment			AS cra
			,academy_room					AS aro
			,course							AS co
			,teacher						AS tea
			,member_login					AS login
			,member							AS mem
			,course_enrollee				AS cen
			,grading_criteria				AS gcr
		where
			si.examination_day_no		= ed.examination_day_no
		and
			ed.course_assignment_no		= cra.course_assignment_no
		and
			cra.room_no					= aro.room_no
		and
			cra.course_no				= co.course_no
		and
			co.course_no				= tea.course_no
		and
			tea.teacher_id				= login.member_id
		and
			login.member_id				= mem.member_id
		and
			si.course_enrollee_no		= cen.course_enrollee_no
		and
			cen.member_id				= login.member_id
		and
			cen.course_assignment_no	= cra.course_assignment_no
		and
			cen.course_assignment_no	= ed.course_assignment_no
		and
			si.grading_criteria_rating	= gcr.grading_criteria_rating
		<if test="gradingCriteriaRating != null and gradingCriteriaRating neq ''.toString()">
		and
			gcr.grading_criteria_rating	= #{gradingCriteriaRating}
		</if>
	</select>
</mapper>