<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.smart_academy.academy_manage.course.mapper.ScheduleMapper">
	
	<!-- 전체 강좌 시간표 가져오기 -->
	<select id="scheduleOneOrList"
			parameterType="com.cafe24.smart_academy.academy_manage.course.vo.CourseRoomSearchVO"
			resultType="map">
		select
			 cs.schedule_no					AS scheduleNo
			,cs.schedule_day				AS scheduleDay
			,cs.schedule_period				AS schedulePeriod
			,cs.schedule_registered_date	AS scheduleRegisteredDate
			,cs.schedule_modification_date	AS scheduleModificationDate
			,co.course_name					AS courseName
			,sub.subject_name				AS subjectName
			,cra.course_assignment_no		AS courseAssignmentNo
			,aro.room_number				AS roomNumber
			,aro.room_floor					AS roomFloor
			,aro.room_usage					AS roomUsage
			,tea.member_id					AS memberId
			,mem.member_name				AS memberName
		from
			 course_schedule			AS cs
			,course_room_assignment		AS cra
			,course						AS co
			,subject					AS sub
			,academy_room				AS aro
			,teacher					AS tea
			,member_login				AS login
			,member						AS mem
		where
			cs.course_assignment_no		= cra.course_assignment_no
		and
			cra.course_no				= co.course_no
		and
			co.subject_no				= sub.subject_no
		and
			cra.room_no					= aro.room_no
		and
			tea.course_no				= co.course_no
		and
			tea.member_id				= login.member_id
		and
			login.member_id				= mem.member_id
		and
			login.member_level			= '강사'
		<!-- 강좌 시간표 상세보기 -->
		<if test="scheduleNo != null and scheduleNo neq ''.toString()">
		and
			cs.schedule_no	= #{scheduleNo}
		</if>
		
		<!-- 강사 시간표 추가폼에서 요일을 선택하여 시간표를 출력하는 경우 관리자의 승인여부는 필요없다. -->
		<if test="scheduleApprovalStatus != null and scheduleApprovalStatus neq ''.toString()">
		and
			cs.schedule_approval_status	= #{scheduleApprovalStatus}
		</if>
		
		<!-- 과목을 선택했을 경우 -->
		<if test="subjectNo != null and subjectNo neq ''.toString()">
		and
			co.subject_no = #{subjectNo}
		</if>
		
		<!-- 강좌를 선택했을 경우 -->
		<if test="courseNo != null and courseNo neq ''.toString()">
		and
			cra.course_no = #{courseNo}
		</if>
		
		<!-- 강의실을 선택했을 경우 -->
		<if test="roomNo != null and roomNo neq ''.toString()">
		and
			cra.room_no = #{roomNo}
		</if>
		
		<!-- 강사를 선택했을 경우 -->
		<if test="memberId != null and memberId neq ''.toString()">
		and
			tea.member_id = #{memberId}
		</if>
		
		<!-- 강좌시간표 추가폼에서 특정 요일을 선택했을 경우 -->
		<if test="scheduleDay != null and scheduleDay neq ''.toString()">
		and
			cs.schedule_day = #{scheduleDay}
		</if>
		order by
			 cs.schedule_day		asc
			,cs.schedule_period		asc
	</select>
	
	
	<!-- 관리자 : 강사가 추가하거나 수정한 강좌시간표 승인 처리 -->
	<update id="scheduleApproval" parameterType="String">
		update
			course_schedule
		set
			schedule_approval_status = '유'
		where
			schedule_no = #{scheduleNo}
	</update>
	
	
	<!-- 강사 : 강좌 시간표코드 중복 확인 -->
	<select id="CourseScheduleByscheduleNo"
			parameterType="String"
			resultType="String">
		select
			schedule_no
		from
			course_schedule
		where
			schedule_no = #{scheduleNo}
	</select>
	
	
	<!-- 강사 : 강좌 시간표 추가 처리 -->
	<insert id="addSchedule"
			parameterType="com.cafe24.smart_academy.academy_manage.course.vo.CourseSchedule">
		insert into course_schedule (
			 schedule_no
			,course_assignment_no
			,schedule_day
			,schedule_period
			,schedule_approval_status
			,schedule_registered_date
			,schedule_modification_date
		) values (
			 #{scheduleNo}
			,#{courseAssignmentNo}
			,#{scheduleDay}
			,#{schedulePeriod}
			,#{scheduleApprovalStatus}
			,curdate()
			,curdate()
		)
	</insert>
	
	
	<!-- 관리자, 강사 : 시간표 수정처리 -->
	<update id="updateSchedule"
			parameterType="com.cafe24.smart_academy.academy_manage.course.vo.CourseSchedule">
		update
			course_schedule
		<trim prefix="set">
				 course_assignment_no			= #{courseAssignmentNo}
			<if test="scheduleDay != null and scheduleDay neq ''.toString()">
				,schedule_day					= #{scheduleDay}
			</if>
			<if test="schedulePeriod != null and schedulePeriod neq ''.toString()">
				,schedule_period				= #{schedulePeriod}
			</if>
				,schedule_approval_status		= #{scheduleApprovalStatus}
				,schedule_modification_date		= curdate()
		</trim>
		where
			schedule_no = #{scheduleNo}
	</update>
	
	
	<!-- 관리자, 강사 : 시간표 삭제 처리 -->
	<delete id="deleteSchedule" parameterType="String">
		delete from
			course_schedule
		where
			schedule_no = #{scheduleNo}
	</delete>
</mapper>