<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강좌강사 배정</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-6 col-md-offset-3">
			<h3>강좌강사 배정</h3>
		</div>
	</div>
	
	<div class="col-sm-8 col-md-offset-3">
		<form role="form" id="updateCourseAssignTeacherFrm"
				action="/updateCourseAssignTeacher" method="post">
			<input type="hidden" value="유" name="teacherIsChanged">
			<!-- 강사가 매칭이 안된 강좌를 강사에 배정하므로 강사의 담당 강좌 변경여부는 '유'로 바뀐다. -->
			
			<div class="form-group">
				<label for="inputName">강사명</label>
				<input type="text" class="form-control"
					   th:value="${oneTeacher.memberName + ' : ' + oneTeacher.memberBirth}"
					   readonly="readonly">
				<input type="hidden" name="memberId" th:value="${oneTeacher.memberId}">
				<!-- 강사 테이블에서 담당 강좌를 바꿔야 하므로 강사아이디를 넣어준다. -->
			</div>
			
			<div class="form-group">
				<label for="courseList">강좌명</label>
				<!-- <div class="input-group"> -->
				<select id="courseList" name="courseNo"
						class="form-control">
					<option value="">선택</option>
					<option th:each="course : ${courseList}"
							th:value="${course.courseNo}"
							th:text="${course.subjectName + ' : ' + course.courseName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label for="inputTeacherReasonForChange">강사 담당 강좌변경사유</label>
				<textarea class="form-control" rows="3" id="inputTeacherReasonForChange"
						  name="teacherReasonForChange"></textarea>
			</div>
			
			<div class="form-group">
				<div class="row"> <!-- style="vertical-align: bottom;" -->
					<div class="col-md-4">
						<button type="button" onclick="javascript:history.back()"
								class="btn btn-primary btn-sm btn-block">뒤로</button>
					</div>
					<div class="col-md-4">
						<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
					</div>
					<div class="col-md-4">
						<button type="button" id="updateCourseAssignTeacherFrmBtn"
								class="btn btn-primary btn-sm btn-block">배정</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript">
		/*<![CDATA[*/
			var courseNo = /*[[ ${courseNo} ]]*/;
			var memberId = /*[[ ${memberId} ]]*/;
		/*]]*/
		
		$(document).ready(function(){
			$("#courseList").val(courseNo);
			$("#teacherList").val(memberId);
		});
	</script>
	
	<script type="text/javascript">
		
		// 강좌 강사 배정 등록 처리 전 공백 유효성 검사
		$('#updateCourseAssignTeacherFrmBtn').on('click', function(e){
			e.preventDefault();
			
	        if($("#teacherList").val() ==''){
	            alert('강사를 선택하세요');
	            $("#teacherList").focus();
	            return false;
	        }
	        
	        if($("#courseList").val() ==''){
	            alert('강좌명을 선택하세요');
	            $("#courseList").focus();
	            return false;
	        }
	        
	        if($("#inputTeacherReasonForChange").val() == ''){
	            alert('강사담당 강좌변경사유를 입력하세요');
	            $("#inputTeacherReasonForChange").focus();
	            return false;
	        }
	        
	        $('#updateCourseAssignTeacherFrm').submit();
	    });
	</script>
</th:block>

</html>