<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강좌등록</title>
</th:block>

<!-- 강사가 관리자에게 휴보강 신청하는 폼 -->
<!-- 강의 시간표목록에서 특정 시간표의 강좌 클릭하여 들어오도록 한다. -->
<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-6 col-md-offset-3">
			<h3>강좌등록</h3>
		</div>
	</div>
	
	<div class="col-sm-7 col-md-offset-3">
		<form role="form" action="/addCourseNo" method="post">
			<div class="form-group">
				<label for="inputCourseNo">강좌코드</label>
				<div class="input-group">
					<input type="text" class="form-control" id="inputCourseNo"
						   name="courseNo">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary btn-sm"
								id="courseNoOverlapBtn">중복확인</button>
						<input type="hidden" id="courseNoOverlapClickChk" value="0">
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="viewSubjectList">과목명</label>
				<!-- <div class="input-group"> -->
				<select id="viewSubjectList" name="SubjectNo"
						class="form-control"><!-- th:each="subject : ${subjectList}" -->
					<option  value="국어">국어</option>
					<!-- th:value="${subject.subjectNo}" -->
					<!-- th:text="${subject.subjectName}" -->
					<option value="영어">영어</option>
					<option value="수학">수학</option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label for="inputCourseName">강좌명</label>
				<input type="text" class="form-control" id="inputCourseName"
					   name="courseName">
			</div>
			
			<div class="form-group">
				<div class="row"> <!-- style="vertical-align: bottom;" -->
					<div class="col-md-6">
						<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-sm btn-block">입력</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>