<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>비밀번호변경</title>
</th:block>
<th:block layout:fragment="customContents">
	
	<div class="row text-center" style="width: 100%; align-items: center;">
		<div style="width: 80%; float:none; margin:0 auto; display:flex;
			 align-items:center;">
			<span>
				<img src="images/mainpage/login/Member_login_logo.png" alt="로그인로고"
					 class="img-responsive center-block">
			</span>
			<form id="updateLoginPasswordFrm" action="/updateLoginPassword" method="post">
				<img src="images/mainpage/login/login_logo.png" alt="로그인로고">
				<div class="form-group" style="margin-top: 10px;">
					<label for="inputMemberId" style="font-size: large;"
						   th:text="${member.memberId + '님 비밀번호 변경'}"></label>
					<input type="hidden" name="memberId" th:value="${member.memberId}">
				</div>
				
				<div class="form-group">
					<label for="inputMemberPw" style="font-size: large;">비밀번호:</label>
					<input type="password" class="form-control"
						   id="inputMemberPw" name="memberPw">
				</div>
				
				<div class="form-group">
					<label for="inputMemberPwChk" style="font-size: large;">비밀번호 확인:</label>
					<input type="password" class="form-control"
						   id="inputMemberPwChk">
				</div>
				
				<div class="form-group">
					<div class="row"> <!-- style="vertical-align: bottom;" -->
						<div class="col-md-6">
							<button type="reset" class="btn btn-danger form-control">
								취소
							</button>
						</div>
						<div class="col-md-6">
							<button type="button" id="updateLoginPasswordFrmBtn"
									class="btn btn-primary form-control">
								변경
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		// 패스워드 수정 처리 전 공백  및  비밀번호 확인 일치여부 유효성 검사
		$('#updateLoginPasswordFrmBtn').on('click', function(e){
			e.preventDefault();
			
			if($("#inputMemberPw").val() ==''){
				alert('비밀번호를 입력하세요');
				$("#inputMemberPw").focus();
			return false;
			}
			
			if($("#inputMemberPwChk").val() ==''){
				alert('비밀번호를 다시 한번 더 입력하세요');
				$("#inputMemberPwChk").focus();
				return false;
			}
			
			if($("#inputMemberPw").val()!== $("#inputMemberPwChk").val()){
				alert('비밀번호를 둘다 동일하게 입력하세요');
				return false;
			}
			
			$('#updateLoginPasswordFrm').submit();
		});
	</script>
</th:block>

</html>