<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>결제정보등록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>결제정보등록</h3>
		</div>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form action="/addPaymentInfo" id="paymentInfoJoinFrm" method="post">
			<input type="hidden" th:value="${memberId}" name="memberId">
			<!-- 결제정보 등록시 등록하는 폼에서 해당 학생의 정보를 보여줘야할까? -->
			<!-- 아이디, 학생 이름, 생년월일: 누구의 결제정보를 추가하는지 알 수 있도록. -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="checkPaymentWay">결제수단</label>
						<!-- <div class="input-group"> -->
							<select id="checkPaymentWay" name="paymentWay"
									class="form-control">
								<option value="">선택</option>
								<option value="카드">카드</option>
								<option value="현금">현금</option>
								<option value="가상계좌">가상계좌</option>
								<option value="무통장입금">무통장입금</option>
							</select>
						<!-- </div> -->
					</div>
					
					
					<!-- <div class="form-group">
						<label for="checkPaymentWay" style="font-size: large;">결제수단:</label>
						<div class="form-check-inline">
							<label class="form-check-label" style="font-size: medium;">
								<input type="radio" class="form-check-input" value="카드"
									   name="paymentWay">카드
							</label>
						</div>
						
						<div class="form-check-inline">
							<label class="form-check-label" style="font-size: medium;">
								<input type="radio" class="form-check-input" value="현금"
									   name="paymentWay" checked="checked">현금
							</label>
						</div>
						
						<div class="form-check-inline">
							<label class="form-check-label" style="font-size: medium;">
								<input type="radio" class="form-check-input" value="가상계좌"
									   name="paymentWay" checked="checked">가상계좌
							</label>
						</div>
						
						<div class="form-check-inline">
							<label class="form-check-label" style="font-size: medium;">
								<input type="radio" class="form-check-input" value="무통장입금"
									   name="paymentWay" checked="checked">무통장입금
							</label>
						</div>
					</div> -->
					
					<div class="form-group">
						<label for="inputPaymentContent">결제수단내용</label>
						<input type="text" class="form-control" id="inputPaymentContent"
							   name="paymentContent" placeholder="ex)일시불, 전액 납부, 무이자 3개월">
					</div>
					
					<div class="form-group">
						<label for="inputPaymentDay">납부일자</label>
						<input type="date" class="form-control" id="inputPaymentDay"
							   name="paymentDay">
					</div>
					
					<div class="form-group">
						<label for="inputPaymentScheduleMoney">납부예정금액</label>
						<input type="number" class="form-control" id="inputPaymentScheduleMoney"
							   name="paymentScheduleMoney" placeholder="납부예정금액을 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputActualityPaymentMoney">실납부금액</label>
						<input type="number" class="form-control" id="inputActualityPaymentMoney"
							   name="actualityPaymentMoney" placeholder="실납부금액을 입력해주세요">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputStartCourseDay">시작 수업일</label>
						<input type="date" class="form-control" id="inputStartCourseDay"
							   name="startCourseDay">
					</div>
					
					<div class="form-group">
						<label for="inputEndCourseDay">마지막 수업일</label>
						<input type="date" class="form-control" id="inputEndCourseDay"
							   name="endCourseDay">
					</div>
					
					<div class="form-group">
						<label for="inputPaymentReference">참고사항</label>
						<textarea class="form-control" rows="3" id="inputPaymentReference"
								  name="paymentReference" placeholder="결제 참고사항을 입력해주세요(생략가능)"></textarea>
					</div>
					
					<div class="form-group">
						<div class="row"> <!-- style="vertical-align: bottom;" -->
							<div class="col-md-6">
								<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
							</div>
							<div class="col-md-6">
								<button type="button" id="paymentInfoJoinFrmBtn"
										class="btn btn-primary btn-sm btn-block">입력</button>
							</div>
							<div class="col-md-12" th:if="${insertFail != null}">
								<label>[[${insertFail}]]</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>