<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>학생 정보 등록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>학생 정보 등록</h3>
		</div>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form action="/addStudent" id="studentJoinFrm" method="post">
			<input type="hidden" name="memberLevel" value="학생">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputId">아이디</label>
						<div class="input-group">
							<input type="text" class="form-control" id="inputId" name="memberId"
								   placeholder="아이디를 입력해주세요">
							<span class="input-group-btn">
								<button type="button" id="idOverlapBtn" class="btn btn-primary btn-sm">중복확인</button>
								<input type="hidden" id="idOverlapClickChk" value="0"> <!-- 0값은 중복확인 안함 -->
								<!-- <span th:if="${idOverlap ne null}" th:text="${idOverlap}"
										   id="idOverlapMessage"></span> -->
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputStudentPassword">비밀번호</label>
						<input type="password" class="form-control" id="inputStudentPassword" name="memberPw"
							   placeholder="비밀번호를 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputStudentPasswordCheck">비밀번호 확인</label>
						<input type="password" class="form-control" id="inputStudentPasswordCheck"
							   placeholder="비밀번호 확인을 위해 다시 한번 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputStudentName">학생명</label>
						<input type="text" class="form-control" id="inputStudentName"
							   name="memberName" placeholder="학생의 이름을 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputStudentBirth">생년월일</label>
						<input type="date" class="form-control" id="inputStudentBirth"
							   name="memberBirth">
					</div>
					
					<div class="form-group">
						<label for="inputEmail">이메일</label>
						<div class="input-group">
							<input type="email" class="form-control" id="inputEmail"
								   name="memberEmail" placeholder="학생의 이메일을 입력해주세요">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-sm"
										id="emailOverlapBtn">중복확인</button>
								<input type="hidden" id="emailOverlapClickChk" value="0">
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputStudentPhone">학생 휴대폰번호</label>
						<input type="tel" class="form-control" id="inputStudentPhone"
							   name="memberPhone" placeholder="학생의 휴대폰 번호를 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputParentName">학부모명</label>
						<input type="text" class="form-control" id="inputParentName"
							   name="parentName" placeholder="학부모의 이름을 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputParentPhone">학부모 휴대폰 번호</label>
						<div class="input-group">
							<input type="text" class="form-control" id="inputParentPhone"
								   name="parentPhone" placeholder="학부모의 휴대폰 번호을 입력해주세요">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-sm"
										id="parentPhoneOverlapBtn">중복확인</button>
								<input type="hidden" id="parentPhoneOverlapClickChk" value="0">
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputStudentTel">집전화</label>
						<input type="text" class="form-control" id="inputStudentTel"
							   name="memberTel" placeholder="집전화를 입력해주세요(생략가능)">
					</div>
					
					<div class="form-group">
						<label for="inputStudentAddr">주소</label>
						<input type="text" class="form-control" id="inputStudentAddr"
							   name="memberAddress" placeholder="주소를 입력해주세요">
					</div>
					
					<div class="form-group">
						<div class="row"> <!-- style="vertical-align: bottom;" -->
							<div class="col-md-6">
								<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
							</div>
							<div class="col-md-6">
								<button type="button" id="StudentJoinFrmBtn"
										class="btn btn-primary btn-sm btn-block">등록</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		//$(function(){
			
			// 아이디 중복 확인
			$('#idOverlapBtn').on('click', function(e){
				e.preventDefault();
				var memberId = $('#inputId').val();
				console.log(`memberId:${memberId}`);
				
				if($("#inputId").val() ==''){
		            alert('아이디를 입력하세요');
		            $("#inputId").focus();
		            return false;
		        }
				
				$.ajax({
		            url: '/memberIdOverlapChk',
		            type: 'POST',
		            data: memberId,
		            dataType: 'json',
		            contentType: "application/json; charset=UTF-8",
		            success: function (response) {
		                if(response.result == 1){
		                	alert('사용 가능한 아이디 입니다.')
		                    //$('#idOverlapMessage').text('사용가능한 아이디 입니다.');
		                    $('#idOverlapClickChk').val(1);
		                } else if(response.result == 0){
		                	alert('이미 가입된 아이디 입니다');
		                	//$('#idOverlapMessage').text('이미 가입된 아이디 입니다');
		                } else {
		                    alert('검사 중 에러가 발생했습니다');
		                }
		            },
		            error: function(jqXHR, textStatus, errorThrown){
		                alert("arjax error : " + textStatus + "\n" + errorThrown);
		            }
		        });
			});
			
			// 값을 바꿨을 경우 중복확인 버튼을 다시 눌러야함 (중복확인 버튼 눌럿는지 체크하는 값을 0으로 셋팅) 0:안누름 / 1:누름
			$("#inputId").on('change', function(e) {
				e.preventDefault();
				$('#idOverlapClickChk').val(0);
			});
			
			
			
			// 이메일 중복 확인
			$('#emailOverlapBtn').on('click', function(e){
				e.preventDefault();
				var memberEmail = $('#inputEmail').val();
				console.log(`memberEmail:${memberEmail}`);
				
		        if(memberEmail == ''){
		            alert('이메일을 입력하세요');
		            $("#inputEmail").focus();
		            return false;
		        } else {
		            var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		            if (!emailRegex.test(memberEmail)) {
		                alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
		                $("#inputEmail").focus();
		                return false;
		            }
		        }
				
				$.ajax({
		            url: '/memberEmailOverlapChk',
		            type: 'POST',
		            data: memberEmail,
		            dataType: 'json',
		            contentType: "application/json; charset=UTF-8",
		            success: function (response) {
		                if(response.result == 1){
		                	alert('사용 가능한 이메일 입니다.')
		                    //$('#emailOverlapMessage').text('사용가능한 이메일 입니다.');
		                    $('#emailOverlapClickChk').val(1);
		                	// 회원 등록할 때 중복확인 버튼을 눌렀다는 걸 알려줄 값   0:안누름 / 1:누름
		                } else if(response.result == 0){
		                	alert('사용 중인 이메일 입니다');
		                	$("#inputEmail").focus();
		                	//$('#emailOverlapMessage').text('이미 가입된 이메일 입니다');
		                } else {
		                    alert('검사 중 에러가 발생했습니다');
		                }
		            },
		            error: function(jqXHR, textStatus, errorThrown){
		                alert("arjax error : " + textStatus + "\n" + errorThrown);
		            }
		        });
			});
			
			// 값을 바꿨을 경우 중복확인 버튼을 다시 눌러야함 (중복확인 버튼 눌럿는지 체크하는 값을 0으로 셋팅) 0:안누름 / 1:누름
			$("#inputEmail").on('change', function(e) {
				e.preventDefault();
				$('#emailOverlapClickChk').val(0);
			});
			
			
			
			// 학부모 휴대폰 번호 중복 확인
			$('#parentPhoneOverlapBtn').on('click', function(e){
				e.preventDefault();
				var inputParentPhone = $('#inputParentPhone').val();
				console.log(`inputParentPhone:${inputParentPhone}`);
				
				if($("#inputParentPhone").val() ==''){
		            alert('학부모의 휴대폰 번호를 입력하세요');
		            $("#inputParentPhone").focus();
		            return false;
		        }
				
				$.ajax({
		            url: '/parentPhoneOverlapChk',
		            type: 'POST',
		            data: inputParentPhone,
		            dataType: 'json',
		            contentType: "application/json; charset=UTF-8",
		            success: function (response) {
		                if(response.result == 1){
		                	alert('사용 가능한 휴대폰 번호 입니다.')
		                    $('#parentPhoneOverlapClickChk').val(1);
		                } else if(response.result == 0){
		                	alert('이미 가입된 휴대폰 번호 입니다');
		                } else {
		                    alert('검사 중 에러가 발생했습니다');
		                }
		            },
		            error: function(jqXHR, textStatus, errorThrown){
		                alert("arjax error : " + textStatus + "\n" + errorThrown);
		            }
		        });
			});
			
			// 값을 바꿨을 경우 중복확인 버튼을 다시 눌러야함 (중복확인 버튼 눌럿는지 체크하는 값을 0으로 셋팅) 0:안누름 / 1:누름
			$("#inputParentPhone").on('change', function(e) {
				e.preventDefault();
				$('#parentPhoneOverlapClickChk').val(0);
			});
			
			
			// 학생 등록 처리 전 공백  및  이메일 유효성 검사  ex)abc@gmail.com
			$('#StudentJoinFrmBtn').on('click', function(e){
				e.preventDefault();
				
				var idOverlapClickChk = $('#idOverlapClickChk').val();
				var emailOverlapClickChk = $('#emailOverlapClickChk').val();
				
				console.log(`idOverlapClickChk:${idOverlapClickChk}`);
				console.log(`emailOverlapClickChk:${emailOverlapClickChk}`);
				console.log('0이면 사용 중, 1이면 사용 가능');
				
		        if($("#inputId").val() ==''){
		            alert('아이디를 입력하세요');
		            $('#idOverlapClickChk').val(0);
		            // 만약 아이디를 입력하고 중복확인 버튼을 눌러서 사용가능한 아이디라고 나오면 중복확인 버튼 체크값이 1로 바뀐다.
		            // 재입력하고자 값을 지웠을 경우 다시 눌러줘야한다.
		            $("#inputId").focus();
		            return false;
		        }
		        
		        if($("#idOverlapClickChk").val() == 0){
		            alert('아이디 중복확인을 해주세요');
		            $("#inputId").focus();
		            return false;
		        }
		        
		        if($("#inputStudentPassword").val() ==''){
		            alert('비밀번호를 입력하세요');
		            $("#inputStudentPassword").focus();
		            return false;
		        }
	
		        if($("#inputStudentPasswordCheck").val() ==''){
		            alert('비밀번호를 다시 한번 더 입력하세요');
		            $("#inputStudentPasswordCheck").focus();
		            return false;
		        }
		        
		        if($("#inputStudentPassword").val()!== $("#inputStudentPasswordCheck").val()){
		            alert('비밀번호를 둘다 동일하게 입력하세요');
		            return false;
		        }
		        
		        if($("#inputStudentName").val() ==''){
		            alert('이름을 입력하세요');
		            $("#inputStudentName").focus();
		            return false;
		        }
		        
		        if($("#inputStudentBirth").val() ==''){
		            alert('생년월일을 선택하세요');
		            $("#inputStudentBirth").focus();
		            return false;
		        }
		        
		        var email = $('#inputEmail').val();
		        if(email == ''){
		            alert('이메일을 입력하세요');
		            $('#emailOverlapClickChk').val(0);
		            // 중복확인 버튼을 눌러줘야하므로 중복확인 버튼을 안누른 값으로 셋팅한다.
		            // 0:안누름 / 1:누름
		            $("#inputEmail").focus();
		            return false;
		        } else {
		            var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		            if (!emailRegex.test(email)) {
		                alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
		                $("#inputEmail").focus();
		                $('#emailOverlapClickChk').val(0);
		                // 중복확인 버튼을 눌러줘야하므로 중복확인 버튼을 안누른 값으로 셋팅한다.
		                // 0:안누름 / 1:누름
		                return false;
		            }
		        }
		        
		        if($("#emailOverlapClickChk").val() == 0){
		            alert('이메일 중복확인을 해주세요');
		            $("#inputEmail").focus();
		            return false;
		        }
		        
		        if($("#inputStudentPhone").val() ==''){
		            alert('휴대폰 번호를 입력하세요');
		            $("#inputStudentPhone").focus();
		            return false;
		        }
		        
		        if($("#inputParentName").val() ==''){
		            alert('학부모의 이름을 입력하세요');
		            $("#inputParentName").focus();
		            return false;
		        }
		        
		        if($("#inputParentPhone").val() ==''){
		            alert('학부모의 휴대폰 번호를 입력하세요');
		            $('#parentPhoneOverlapClickChk').val(0);
		            // 중복확인 버튼을 눌러줘야하므로 중복확인 버튼을 안누른 값으로 셋팅한다.
		            // 0:안누름 / 1:누름
		            $("#inputParentPhone").focus();
		            return false;
		        }
		        
		        if($("#parentPhoneOverlapClickChk").val() == 0){
		            alert('학부모 휴대폰번호 중복확인을 해주세요');
		            $("#inputParentPhone").focus();
		            return false;
		        }
		        
		        if($("#inputStudentAddr").val() ==''){
		            alert('주소를 입력하세요');
		            $("#inputStudentAddr").focus();
		            return false;
		        }
		        
		        /*if($("#agree").is(":checked") == false){
		            alert('약관에 동의하셔야 합니다');
		            return false;      
		        }*/
		        
		        $('#studentJoinFrm').submit();
		        
		        /*$.ajax({
		            url: '/addMember',
		            type: 'POST',
		            data: {
		            	member_id:$('#inputId').val(),
		            	member_pw:$('#inputPassword').val(),
		                name:$("#inputName").val(),
		                
		                email:$('#InputEmail').val(),
		                
		                telNO:$("#inputtelNO").val(),
		                mobileNO:$("#inputMobile").val()
		            },
		            dataType: "json",
		            success: function (response) {
		                if(response.result == 1){
		                    alert('가입 완료');
		                    location.replace('../index.php'); // 화면 갱신
		                } else if(response.result == 0){
		                    alert('이미 가입된 아이디입니다');
		                } else if(response.result == -2){
		                    alert('입력된 값이 없습니다');
		                } else {
		                    alert('등록중에 에러가 발생했습니다');
		                }
		            },
		            error: function(jqXHR, textStatus, errorThrown){
		                alert("arjax error : " + textStatus + "\n" + errorThrown);
		            }
		        });*/
		        
		    });
	
		//});
	</script>
</th:block>

</html>