<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>학생상담관리</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- <div class="page-header"> -->
		<div class="col-md-10 col-md-offset-3">
			<h3>학생상담관리</h3>
			<label>[[${'생일: ' + studentInfo.memberBirth + '인 ' + studentInfo.memberName + '학생 상담관리'}]]</label>
		</div>
	<!-- </div> -->
	
	
	<div class="col-sm-12 col-md-offset-3">
		<form class="form-inline mx-auto" action="/searchStudentInfoCounselManage" method="post">
			<input type="hidden" th:value="${studentInfo.memberId}" name="memberId">
			
			<div class="form-group">
				<label class="sr-only" for="counselTypeList">상담구분명</label>
				<!-- <div class="input-group"> -->
				<select id="counselTypeList" name="counselTypeNo"
						onchange="counselResultListSelect(this.value)" class="form-control">
					<option value="">상담구분명</option>
					<option th:each="counselType : ${counselTypeList}"
							th:value="${counselType.counselTypeNo}"
							th:text="${counselType.counselTypeName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="viewCounselResultNameList">상담결과명</label>
				<!-- <div class="input-group"> -->
				<select id="viewCounselResultNameList" name="counselResultNo"
						class="form-control">
					<option value="">상담결과명</option>
				</select>
				<!-- </div> -->
			</div>
			<button type="submit" class="btn btn-default">검색</button>
		</form>
		
		
		<!-- ${#strings.containsIgnoreCase(counselHistoryList.counselResultName,'입학상담')}
			 상담 기록 중 입학상담이라는 명칭이 없다면 -->
		<div class="row" th:if="${counselHistoryListSize == 0}">
		<!-- 상담 기록이 없다면 - 어차피 학원 등록할때 처음 상담테이블에 입력하는 상담이 입학상담이다. -->
			<div class="col-md-3" >
				<table class="table">
					<tbody>
						<tr>
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/addAdmissionCounsel(memberId=${studentInfo.memberId})} + '\''">
									입학상담
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr/>
		
		<div class="row">
			<div class="col-md-5">
				<h4>상담내역</h4>
				
				<table class="table table-striped" style="text-align: center;">
					<thead>
						<tr>
							<th>번호</th>
							<th>구분</th>
							<th>결과</th>
							<th>내용</th>
							<th>상담일</th>
							<th>상세</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="counsel, lists : ${counselHistoryList}"
							th:if="${counselHistoryListSize != 0}">
							<td th:text="${lists.count}"></td>
							<td th:text="${counsel.counselTypeName}"></td>
							<td th:text="${counsel.counselResultName}"></td>
							<td th:text="${#strings.abbreviate(counsel.counselContent, 5)}"></td>
							<td th:text="${counsel.counselAppointmentDate}"></td>
							<td>
								<button type="button" class="btn btn-success btn-sm"
										th:onclick="'window.location.href = \'' + @{/updateCounsel(counselHistoryNo=${counsel.counselHistoryNo})} + '\''">
									수정
								</button>
							</td>
						</tr>
						
						<tr th:unless="${counselHistoryListSize != 0}">
							<td colspan="5">등록된 상담 내역이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-7">
				<h4>상담신청현황</h4>
				<table class="table table-striped" style="text-align: center;">
					<thead>
						<tr>
							<th>번호</th>
							<th>구분</th>
							<th>결과</th>
							<th>신청일</th>
							<th>예약여부</th>
							<th>예약</th>
							<th>수정</th>
							<th>작성</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="counsel, lists : ${counselAppointmentList}"
							th:if="${counselAppointmentListSize != 0}">
							<td th:text="${lists.count}"></td>
							<td th:text="${counsel.counselTypeName}"></td>
							<td th:text="${counsel.counselResultName}"></td>
							<td th:text="${counsel.counselAppointmentDate}"></td>
							<td th:text="${counsel.counselAppointmentWhether}"></td>
							<td>
								<span th:if="${counsel.counselAppointmentWhether != '유'}">
									<button type="button" class="btn btn-primary btn-sm btn-block"
											th:onclick="permissionCounsel([[${counsel.counselHistoryNo}]], [[${counsel.memberId}]])">
										예약
									</button>
								</span>
								<span th:unless="${counsel.counselAppointmentWhether != '유'}">
									<button type="button" class="btn btn-primary btn-sm btn-block"
											disabled="disabled">
										완료
									</button>
								</span>
							</td>
							<td>
								<button type="button" class="btn btn-success btn-sm"
								th:onclick="'window.location.href = \'' + @{/updateCounselAppointment(counselHistoryNo=${counsel.counselHistoryNo})} + '\''">
									수정
								</button>
							</td>
							<td>
								<span th:if="${counsel.counselAppointmentWhether == '유'}">
									<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/addCounselHistory(counselHistoryNo=${counsel.counselHistoryNo})} + '\''">
										작성
									</button>
								</span>
								<span th:unless="${counsel.counselAppointmentWhether == '유'}">
									<button type="button" class="btn btn-primary btn-sm btn-block"
											disabled="disabled">
										작성
									</button>
								</span>
							</td>
							<!-- 내용작성버튼을 눌러서 상담내용작성 폼으로 이동하여 -->
							<!-- 내용을 작성하면 더이상 신청현황에는 보이지 않아야 한다. -->
							<!-- 컨트롤러에서 상담 테이블에 해당 상담내역코드로된 레코드가 -->
							<!-- 존재하지 않으면 상담내용이 없는 것이고, 존재하면 상담내용이 있는 것이다. -->
							<!-- 즉, 상담테이블에 해당 상담내역코드로된 레코드의 존재 여부를 판단하여 -->
							<!-- 현황에 보일 것인지, 말 것인지 결정한다. -->
							<!-- 상담여부컬럼을 제거하고 상담예약테이블과 상담테이블을 left outer join 할 것인가? -->
						</tr>
						
						<tr th:unless="${counselAppointmentListSize != 0}">
							<td colspan="5">신청받은 상담예약현황이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		
		// 예약 버튼을 눌러서 예약되었습니다 메세지 후 페이지 새로고침
		function permissionCounsel(counselHistoryNo, memberId) {
			
			console.log(`counselHistoryNo:${counselHistoryNo}`);
			console.log(`memberId:${memberId}`);
			
			$.ajax({
	            url: '/permissionCounselAppointment',
	            type: 'POST',
	            data: counselHistoryNo,
	            dataType: 'json',
	            contentType: "application/json; charset=UTF-8",
	            success: function (response) {
	                if(response.result == 1){
	                	alert('예약 성공');
	                	location.href = "/counselManage?memberId="+memberId;
	                } else if(response.result == 0){
	                	alert('예약 실패');
	                } else {
	                    alert('검사 중 에러가 발생했습니다');
	                }
	            },
	            error: function(jqXHR, textStatus, errorThrown){
	                alert("arjax error : " + textStatus + "\n" + errorThrown);
	            }
	        });
	    }
		
		// 선택한 상담구분코드를 참조하는 상담결과목록 가져오기
		function counselResultListSelect(counselTypeNo) {
			console.log(`counselTypeNo:${counselTypeNo}`);
			
			$.ajax({
				 type: "POST"
				,url: "/counselResultListSelect"
				,dataType:"json"
				,data: counselTypeNo
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					//SELECT BOX 초기화           
					$("#counselResultList").find("option").remove().end().append("<option value=''>상담결과명</option>");
					
					//배열 개수 만큼 option 추가
					$.each(result, function(i){
						console.log(`넘어온 상담결과코드:${result}`);
						$("#counselResultList").append("<option value='"+result[i].counselResultNo+"'>"+result[i].counselResultName+"</option>");
					});    
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
	</script>
</th:block>

</html>