<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>결제정보상세</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>결제정보상세</h3>
		</div>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				var paymentInfo = /*[[ ${paymentInfo.paymentWay} ]]*/;
			/*]]*/
			
			$(document).ready(function(){
				$("#checkPaymentWay").val(paymentInfo);
			});
		</script>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form action="/updatePaymentInfo" id="updatePaymentInfoFrm" method="post">
			<input type="hidden" th:value="${memberId}" name="memberId">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="checkPaymentWay">결제수단</label>
						<!-- <div class="input-group"> -->
							<select id="checkPaymentWay" name="paymentWay"
									class="form-control">
								<option value="">선택</option>
								<option value="카드">카드</option>
								<option value="현금">현금</option>
								<option value="가상계좌">가상계좌</option>
								<option value="무통장입금">무통장입금</option>
							</select>
						<!-- </div> -->
					</div>
					
					<div class="form-group">
						<label for="inputPaymentContent">결제수단내용</label>
						<input type="text" class="form-control" id="inputPaymentContent"
							   name="paymentContent" th:value="${paymentInfo.paymentContent}">
					</div>
					
					<div class="form-group">
						<label for="inputPaymentDay">납부일자</label>
						<input type="date" class="form-control" id="inputPaymentDay"
							   name="paymentDay" th:value="${paymentInfo.paymentDay}">
					</div>
					
					<div class="form-group">
						<label for="inputPaymentScheduleMoney">납부예정금액</label>
						<input type="number" class="form-control" id="inputPaymentScheduleMoney"
							   name="paymentScheduleMoney" th:value="${paymentInfo.paymentScheduleMoney}">
					</div>
					
					<div class="form-group">
						<label for="inputActualityPaymentMoney">실납부금액</label>
						<input type="number" class="form-control" id="inputActualityPaymentMoney"
							   name="actualityPaymentMoney" th:value="${paymentInfo.actualityPaymentMoney}">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputStartCourseDay">시작 수업일</label>
						<input type="date" class="form-control" id="inputStartCourseDay"
							   name="startCourseDay" th:value="${paymentInfo.startCourseDay}">
					</div>
					
					<div class="form-group">
						<label for="inputEndCourseDay">마지막 수업일</label>
						<input type="date" class="form-control" id="inputEndCourseDay"
							   name="endCourseDay" th:value="${paymentInfo.endCourseDay}">
					</div>
					
					<div class="form-group">
						<label for="inputPaymentReference">참고사항</label>
						<textarea class="form-control" rows="3" id="inputPaymentReference"
								  name="paymentReference"
								  th:text="${paymentInfo.paymentReference}"
								  placeholder="결제 참고사항을 입력해주세요(생략가능)"></textarea>
					</div>
					
					<div class="form-group">
						<div class="row"> <!-- style="vertical-align: bottom;" -->
							<div class="col-md-6">
								<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
							</div>
							<div class="col-md-6">
								<button type="button" id="updatePaymentInfoFrmBtn"
										class="btn btn-primary btn-sm btn-block">수정</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>