<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>상담예약현황</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>상담예약현황</h3>
		</div>
	</div>
	
	<div class="col-sm-11 col-md-offset-3">
		<form class="form-inline" action="/searchCounselReservationStateList" method="post">
			<div class="form-group">
				<label class="sr-only" for="counselTypeList">상담구분명</label>
				<!-- <div class="input-group"> -->
				<select id="counselTypeList" name="counselTypeNo"
						onchange="counselResultListSelect(this.value)" class="form-control">
					<option value="not">상담구분명</option>
					<option th:each="counselType : ${counselTypeList}"
							th:value="${counselType.counselTypeNo}"
							th:text="${counselType.counselTypeName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="counselResultList">상담결과명</label>
				<!-- <div class="input-group"> -->
				<select id="counselResultList" name="counselResultNo"
						class="form-control">
					<option value="">상담결과명</option>
				</select>
				<!-- </div> -->
			</div>
			<button type="submit" class="btn btn-primary">검색</button>
		</form>
		
		<table class="table table-striped" style="text-align: center;">
			<thead>
				<tr>
					<th>번호</th>
					<th>구분</th>
					<th>결과</th>
					<th>상담일</th>
					<th>학생명</th>
					<th>이메일</th>
					<th>상담</th>
					<th>예약</th>
					<th>예약하기</th>
					<th>수정</th>
					<th>내용작성</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="counsel, lists : ${counselReservationStateList}"
					th:if="${counselReservationStateListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${counsel.counselTypeName}"></td>
					<td th:text="${counsel.counselResultName}"></td>
					<td th:text="${counsel.counselAppointmentDate}"></td>
					<td th:text="${counsel.memberName}"></td>
					<td th:text="${counsel.memberEmail}"></td>
					<td th:text="${counsel.counselWhether}"></td>
					<td th:text="${counsel.counselAppointmentWhether}"></td>
					<td>
						<span th:if="${counsel.counselAppointmentWhether != '유'}">
							<button type="button" class="btn btn-primary btn-sm btn-block"
									th:onclick="permissionCounsel([[${counsel.counselHistoryNo}]])">
								예약
							</button>
						</span>
						<span th:unless="${counsel.counselAppointmentWhether != '유'}">
							<button type="button" class="btn btn-primary btn-sm btn-block"
									disabled="disabled">
								완료
							</button>
						</span>
					</td>
					<td>
						<button type="button" class="btn btn-success btn-sm"
								th:onclick="'window.location.href = \'' + @{/updateCounselAppointment(counselHistoryNo=${counsel.counselHistoryNo})} + '\''">
							수정
						</button>
					</td>
					<td>
						<span th:if="${counsel.counselAppointmentWhether == '유'}">
							<button type="button" class="btn btn-primary btn-sm btn-block"
								th:onclick="'window.location.href = \'' + @{/addCounselHistory(counselHistoryNo=${counsel.counselHistoryNo})} + '\''">
								작성
							</button>
						</span>
						<span th:unless="${counsel.counselAppointmentWhether == '유'}">
							<button type="button" class="btn btn-primary btn-sm btn-block"
									disabled="disabled">
								작성
							</button>
						</span>
					</td>
					<!-- 아이디 제외 -->
					<!-- 학생의 아이디, 상담내역코드를 컨트롤러에 전달한다. -->
					<!-- 부트스트랩 버튼으로 만들것. -->
				</tr>
				
				<tr th:unless="${counselReservationStateListSize != 0}">
					<td colspan="7">예약된 상담예약현황이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		// 예약 버튼을 눌러서 예약되었습니다 메세지후 페이지 새로고침
		function permissionCounsel(counselHistoryNo) {
			
			console.log(`counselHistoryNo:${counselHistoryNo}`);
			
			$.ajax({
	            url: '/permissionCounselAppointment',
	            type: 'POST',
	            data: counselHistoryNo,
	            dataType: 'json',
	            contentType: "application/json; charset=UTF-8",
	            success: function (response) {
	                if(response.result == 1){
	                	alert('예약 성공');
	                	location.href = "/currentReservationStateList";
	                } else if(response.result == 0){
	                	alert('예약 실패');
	                } else {
	                    alert('검사 중 에러가 발생했습니다');
	                }
	            },
	            error: function(jqXHR, textStatus, errorThrown){
	                alert("arjax error : " + textStatus + "\n" + errorThrown);
	            }
	        });
	    }
		
		// 선택한 상담구분코드를 참조하는 상담결과목록 가져오기
		function counselResultListSelect(counselTypeNo) {
			console.log(`counselTypeNo:${counselTypeNo}`);
			
			$.ajax({
				 type: "POST"
				,url: "/counselResultListSelect"
				,dataType:"json"
				,data: counselTypeNo
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					//SELECT BOX 초기화           
					$("#counselResultList").find("option").remove().end().append("<option value=''>상담결과명</option>");
					
					//배열 개수 만큼 option 추가
					$.each(result, function(i){
						console.log(`넘어온 상담결과코드:${result}`);
						$("#counselResultList").append("<option value='"+result[i].counselResultNo+"'>"+result[i].counselResultName+"</option>");
					});    
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
	</script>
</th:block>

</html>