<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>상담예약현황</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>상담예약현황</h3>
		</div>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form class="form-inline" action="/searchCounselReservationStateList" method="post">
			<div class="form-group">
				<label class="sr-only" for="counselTypeList">상담구분명</label>
				<!-- <div class="input-group"> -->
				<select id="counselTypeList" name="counselTypeNo"
						onchange="counselResultSelect(this.value)" class="form-control">
					<option value="not">상담구분명</option>
					<option th:each="counselType : ${counselTypeList}"
							th:value="${counselType.counselTypeNo}"
							th:text="${counselType.counselTypeName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="counselResultList">상담결과명</label>
				<!-- <div class="input-group"> -->
				<select id="counselResultList" name="counselResultNo"
						class="form-control">
					<option value="">상담결과명</option>
				</select>
				<!-- </div> -->
			</div>
			<button type="submit" class="btn btn-primary">검색</button>
		</form>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>상담구분</th>
					<th>상담결과</th>
					<th>상담일</th>
					<th>학생명</th>
					<th>이메일</th>
					<th>내용작성</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="counsel, lists : ${counselReservationStateList}"
					th:if="${counselReservationStateListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${counsel.counselTypeName}"></td>
					<td th:text="${counsel.counselResultName}"></td>
					<td th:text="${counsel.counselAppointmentDate}"></td>
					<td th:text="${counsel.memberName}"></td>
					<td th:text="${counsel.memberEmail}"></td>
					<td>
						<button type="button" class="btn btn-success btn-sm"
								th:onclick="'window.location.href = \'' + @{/addCounselHistory(counselHistoryNo=${counsel.counselHistoryNo})} + '\''">
							내용작성
						</button>
					</td>
					<!-- 아이디 제외 -->
					<!-- 학생의 아이디, 상담내역코드를 컨트롤러에 전달한다. -->
					<!-- 부트스트랩 버튼으로 만들것. -->
				</tr>
				
				<tr th:unless="${counselReservationStateListSize != 0}">
					<td colspan="7">예약된 상담예약현황이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		function counselResultSelect(counselTypeNo) {
			console.log(`counselTypeNo:${counselTypeNo}`);
			
			$.ajax({
				 type: "POST"
				,url: "/counselResultSelect"
				,dataType:"json"
				,data: counselTypeNo
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					//SELECT BOX 초기화           
					$("#counselResultList").find("option").remove().end().append("<option value=''>상담결과명</option>");
					
					//배열 개수 만큼 option 추가
					$.each(result, function(i){
						console.log(`넘어온 상담결과코드:${result}`);
						$("#counselResultList").append("<option value='"+result[i].counselResultNo+"'>"+result[i].counselResultName+"</option>");
					});    
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
	</script>
</th:block>

</html>