<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3 th:text="${title}"></h3>
		</div>
	</div>
	
	<div class="col-sm-11 col-md-offset-3">
		<div class="row">
			<div class="col-md-6">
				<form action="/searchStudentInfoPaymentState" method="post">
					<input type="hidden" name="title" th:value="${title}">
					<input type="hidden" name="paymentStateListSizeZeroMessage"
						   th:value="${paymentStateListSizeZeroMessage}">
					
					<div class="form-group">
						<label class="sr-only" for="searchMemberName">학생명</label>
						<input type="text" class="form-control" id="searchMemberName"
								   name="memberName" placeholder="학생 이름을 입력하세요.">
					</div>
					
					<div class="form-group">
						<label for="inputJoinDate">가입기간</label>
						<div class="input-group">
							<input type="date" class="form-control" id="inputJoinDate"
								   name="startJoinDate" placeholder="시작 가입일을 선택하세요.">
							
							<span class="label">
								<label><i class="mdi mdi-dots-horizontal"></i></label>
							</span> 
							
							<input type="date" class="form-control" id="inputEndJoinDate"
								   name="endJoinDate" placeholder="마지막 가입일을 선택하세요.">  
						</div>
					</div>
					<button type="submit" class="btn btn-success">검색</button>
				</form>
			</div>
		</div>
		
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>아이디</th><!-- 아이디에 a태그 링크 걸어서 결제정보 수정화면 이동하게하기. -->
					<th>학생명</th>
					<th>납부일자</th>
					<th>결제수단</th>
					<th>내용</th>
					<th>납부예정액</th>
					<th>실납부액</th>
					<th>마지막결제일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="payment, lists : ${paymentStateList}"
					th:if="${aymentStateListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${payment.memberId}"></td>
					<td th:text="${payment.memberName}"></td>
					<td th:text="${payment.paymentDay}"></td>
					<td th:text="${payment.paymentWay}"></td>
					<td th:text="${payment.paymentContent}"></td>
					<td th:text="${payment.paymentScheduleMoney}"></td>
					<td th:text="${payment.actualityPaymentMoney}"></td>
					<td th:text="${#calendars.format(payment.paymentModificationDate,'yyyy-MM-dd')}"></td>
				</tr>
				
				<tr th:unless="${paymentStateListSize != 0}">
					<td colspan="7" th:text="${paymentStateListSizeZeroMessage}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>