<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="leftmenuFragment">
 	<!-- partial:partials/_sidebar.html -->
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-commonCode" aria-expanded="false" aria-controls="ui-commonCode">
					<i class="mdi mdi-account-multiple menu-icon"></i> 
					<span class="menu-title">기본코드관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-commonCode">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item">
							<a class="nav-link" href="/subjectList">과목코드</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/academyRoomList">강의실코드</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/counselStandardList}">상담코드</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/gradingCriteriaList}">성적기준코드</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-student" aria-expanded="false" aria-controls="ui-student">
					<i class="mdi mdi-account-multiple menu-icon"></i> 
					<span class="menu-title">학생관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-student">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/addStudent}">학생등록</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/studentList(memberLevel='학생')}">학생목록</a>
							<!-- 권한이 학생인 사람들만 검색한다. -->
							<!-- 학생신상정보디테일에서 하단에 버튼을 줘서 결제 정보 등을 볼 수 있게 한다. -->
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/CourseEnrolleeList}">수강신청 목록</a>
							<!-- 권한이 학생인 사람들만 검색한다. -->
							<!-- 수강신청 리스트를 볼 수 있게 해서 상단에 수강등록 버튼을 준다. -->
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-class" aria-expanded="false" aria-controls="ui-class">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">강좌관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-class">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addCourse}">강좌등록</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/courseList}">강좌목록</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/courseAssignList}">강사배정목록</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/scheduleList(scheduleApprovalStatus='유')}">전체시간표</a>
							<!-- 시간표 오름차순으로 강좌별 시간표를 조회한다. -->
							<!-- 강사권한의 시간표 작성할 때 참고하면서 작성한다. -->
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/scheduleApprovalRequestList(scheduleApprovalStatus='무')}">강좌시간표승인</a>
							<!-- 시간표 오름차순으로 강좌별 시간표를 조회한다. -->
							<!-- 강사권한의 시간표 작성할 때 참고하면서 작성한다. -->
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-teacher" aria-expanded="false" aria-controls="ui-teacher">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">강사관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-teacher">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addTeacher}">강사등록</a>
						</li>
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/teacherList}">강사목록</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-test" aria-expanded="false" aria-controls="ui-test">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">시험관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-test">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/examinationDayList(testStandardDay='notTest')}">시험일</a>
							<!-- 아직 시험을 치르지 않은 시험날짜 강좌리스트를 조회한다. -->
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/examinationDayCompleteList(testStandardDay='testComplete')}">완료된시험목록</a>
							<!-- 시험 완료된 강좌리스트를 보여주고 해당 강좌 클릭시 시험 상세정보를 조회한다. -->
							<!-- 우측에 학생목록을 보여주고 점수를 내림차순하여 조회한다. -->
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-counsel" aria-expanded="false" aria-controls="ui-counsel">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">상담생관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-counsel">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!-- 수강생이 상담신청한 후 상담일과 제목 등 조회 -->
							<a class="nav-link" href="/currentReservationStateList">상담예약현황</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/admissionCounselList}">신입생상담</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-payment" aria-expanded="false" aria-controls="ui-payment">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">수납관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-payment">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/paymentStateList}">수납현황</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/notPaymentStateList}">미납현황</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</th:block>
</html>