<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="leftmenuFragment">
 	<!-- partial:partials/_sidebar.html -->
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-commonCode" aria-expanded="false" aria-controls="ui-commonCode">
					<i class="mdi mdi-account-multiple menu-icon"></i> 
					<span class="menu-title">기본코드관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-commonCode">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item">
							<a class="nav-link" href="/listSubject">과목코드</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/listAcademyRoom">강의실코드</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/listCounselStandard}">상담코드</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/listGradingCriteria}">성적기준코드</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-student" aria-expanded="false" aria-controls="ui-student">
					<i class="mdi mdi-account-multiple menu-icon"></i> 
					<span class="menu-title">학생관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-student">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/addStudent}">학생등록</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/studentList}">학생목록</a>
							<!-- 학생신상정보디테일에서 하단에 버튼을 줘서 결제 정보 등을 볼 수 있게 한다. -->
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/listCurrentReservationState">상담예약현황</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/goodsList}">출결관리</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/notPaymentState}">미납현황</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-class" aria-expanded="false" aria-controls="ui-class">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">강좌관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-class">
					<ul class="nav flex-column sub-menu" style="">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addCourseInfo}">강좌등록</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/courseList}">강좌목록</a>
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/goodsList}">수업계획관리</a>
							<!-- 클릭시 강좌별로 강의계획서 리스트를 조회할 수 있게 한다. -->
						</li>
						
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/goodsList}">전체시간표</a>
							<!-- 시간표 오름차순으로 강좌별 시간표를 조회한다. -->
							<!-- 강사권한의 시간표 작성할 때 참고하면서 작성한다. -->
						</li>
						
						<!-- 만약 강좌별 금액 테이블을 생성할 것이라면 이 메뉴는 필요하다.
							 하지만 모든 강좌를 동일한 금액으로 통일할 것이라면 필요없다.
						<li class="nav-item"> 
							<a class="nav-link" th:href="@{/goodsList}">강좌별수납관리</a>
						</li>
						-->
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-teacher" aria-expanded="false" aria-controls="ui-teacher">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">강사관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-teacher">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addGoods}">강사등록</a>
						</li>
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addGoods}">강사목록</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-counsel" aria-expanded="false" aria-controls="ui-counsel">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">상담생관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-counsel">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!-- 수강생이 상담신청한 후 상담일과 제목 등 조회 -->
							<a class="nav-link" th:href="@{/addGoods}">예약현황</a>
						</li>
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/goodsList}">신입생상담</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-payment" aria-expanded="false" aria-controls="ui-payment">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">수납관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-payment">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addGoods}">수납현황</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-textbook" aria-expanded="false" aria-controls="ui-textbook">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">교재관리</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-textbook">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addGoods}">교재목록</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#ui-academyinfo" aria-expanded="false" aria-controls="ui-academyinfo">
					<i class="mdi mdi-package-variant menu-icon"></i> 
					<span class="menu-title">학원정보</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-academyinfo">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"> <!--  -->
							<a class="nav-link" th:href="@{/addGoods}">공지사항</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</th:block>
</html>