<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강사 상세</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>강사 상세</h3>
		</div>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form action="/updateTeacherInfo" id="updateTeacherFrm" method="post">
			<input type="hidden" id="teacherIsChanged" name="teacherIsChanged" value="무">
			<!-- 강사테이블은 강좌코드를 참조하고 있으므로 담당 강좌가 바뀌었다면
				 자동으로 변경여부는 "유"로 바뀐다. -->
			
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputId">아이디</label>
						<div class="input-group">
							<input type="text" class="form-control" id="inputId"
								   name="memberId"
								   th:value="${teacherInfo.memberId}"
								   readonly="readonly">
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputPassword">비밀번호</label>
						<input type="password" class="form-control" id="inputPassword"
							   name="memberPw"
							   th:value="${teacherInfo.memberPw}"
							   placeholder="비밀번호를 입력해주세요"
							   th:if="${session.memberLevel == '강사'.toString()}">
							   
						<input type="password" class="form-control"
							   name="memberPw"
							   th:value="${teacherInfo.memberPw}"
							   readonly="readonly"
							   th:if="${session.memberLevel == '관리자'.toString()}">
					</div>
					
					<div class="form-group">
						<label for="inputPasswordCheck">비밀번호 확인</label>
						<input type="password" class="form-control"
							   id="inputPasswordCheck"
							   th:value="${teacherInfo.memberPw}"
							   placeholder="비밀번호 확인을 위해 다시 한번 입력해주세요"
							   th:if="${session.memberLevel == '강사'.toString()}">
						
						<input type="password" class="form-control"
							   th:value="${teacherInfo.memberPw}"
							   readonly="readonly"
							   th:if="${session.memberLevel == '관리자'.toString()}">
					</div>
					
					<div class="form-group">
						<label for="inputName">강사명</label>
						<input type="text" class="form-control" id="inputName"
							   name="memberName"
							   th:value="${teacherInfo.memberName}"
							   placeholder="강사의 이름을 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputBirth">생년월일</label>
						<input type="date" class="form-control" id="inputBirth"
							   name="memberBirth"
							   th:value="${teacherInfo.memberBirth}">
					</div>
					
					<div class="form-group">
						<label for="inputEmail">이메일</label>
						<div class="input-group">
							<input type="email" class="form-control" id="inputEmail"
								   name="memberEmail"
								   th:value="${teacherInfo.memberEmail}"
								   placeholder="강사의 이메일을 입력해주세요">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-sm"
										id="emailOverlapBtn">중복확인</button>
								<input type="hidden" id="emailOverlapClickChk" value="1">
								<input type="hidden" id="dbTeacherEmail" th:value="${teacherInfo.memberEmail}">
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="checkCourse">담당 강좌</label>
						<!-- <div class="input-group"> -->
						<select id="checkCourse" name="courseNo"
								class="form-control" >
							<option value="">선택</option>
							<option th:each="course : ${courseList}"
									th:value="${course.courseNo}"
									th:text="${course.subjectName + ' : ' + course.courseName}"></option>
						</select>
						<!-- </div> -->
						<input type="hidden" id="dbTeacherCourseNo" th:value="${teacherInfo.courseNo}">
						<input type="hidden" id="courseNoChangeChk" value="1">
						<!-- 강좌코드가 바뀌었는지 체크할 변수  0:값 바뀜 / 1:그대로 -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputPhone">강사 휴대폰번호</label>
						<input type="tel" class="form-control" id="inputPhone"
							   name="memberPhone"
							   th:value="${teacherInfo.memberPhone}"
							   placeholder="강사의 휴대폰 번호를 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputTel">집전화</label>
						<input type="text" class="form-control" id="inputTel"
							   name="memberTel"
							   th:value="${teacherInfo.memberTel}"
							   placeholder="집전화를 입력해주세요(생략가능)">
					</div>
					
					<div class="form-group">
						<label for="inputAddr">주소</label>
						<input type="text" class="form-control" id="inputAddr"
							   name="memberAddress"
							   th:value="${teacherInfo.memberAddress}"
							   placeholder="주소를 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="inputTeacherReasonForChange">강좌변경사유</label>
						<textarea class="form-control" rows="4" id="inputTeacherReasonForChange"
								  name="teacherReasonForChange"
								  th:text="${teacherInfo.teacherReasonForChange}"></textarea>
					</div>
					
					
					<div class="form-group">
						<label for="inputTeacherChangedDate">강좌변경일</label>
						<input type="text" class="form-control" id="inputTeacherChangedDate"
							   th:value="${#calendars.format(teacherInfo.teacherChangedDate,'yyyy-MM-dd')}"
							   readonly="readonly">
					</div>
					
					<div class="form-group">
						<label for="inputMemberRegisteredDate">등록일</label>
						<input type="date" class="form-control"
							   id="inputMemberRegisteredDate"
							   th:value="${teacherInfo.memberRegisteredDate}"
							   readonly="readonly">
					</div>
					
					<div class="form-group">
						<div class="row"> <!-- style="vertical-align: bottom;" -->
							<!-- 강사는 오직 관리자만 삭제할 수 있다. -->
							<div class="col-md-3"
								 th:if="${session.memberLevel == '관리자'.toString()}">
								<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/deleteTeacher(memberId=${teacherInfo.memberId})} + '\''">
									삭제
								</button>
							</div>
							<div class="col-md-3">
								<button type="button" onclick="javascript:history.back()"
									class="btn btn-primary btn-sm btn-block">뒤로</button>
							</div>
							<div class="col-md-3">
								<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
							</div>
							<div class="col-md-3">
								<button type="button" id="updateTeacherFrmBtn"
										class="btn btn-primary btn-sm btn-block">수정</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript">
		/*<![CDATA[*/
			var courseNo = /*[[ ${teacherInfo.courseNo} ]]*/;
		/*]]*/
		
		$(document).ready(function(){
			console.log(`courseNo:${courseNo}`);
			
			$("#checkCourse").val(courseNo);
		});
	</script>
	<script type="text/javascript">
		// 이메일 중복 확인
		$('#emailOverlapBtn').on('click', function(e){
			e.preventDefault();
			var memberEmail = $('#inputEmail').val();
			console.log(`memberEmail:${memberEmail}`);
			
	        if(memberEmail == ''){
	            alert('이메일을 입력하세요');
	            $("#inputEmail").focus();
	            return false;
	        } else {
	            var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	            if (!emailRegex.test(memberEmail)) {
	                alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
	                $("#inputEmail").focus();
	                return false;
	            }
	        }
			
			$.ajax({
	            url: '/memberEmailOverlapChk',
	            type: 'POST',
	            data: memberEmail,
	            dataType: 'json',
	            contentType: "application/json; charset=UTF-8",
	            success: function (response) {
	                if(response.result == 1){
	                	alert('사용 가능한 이메일 입니다.');
	                    //$('#emailOverlapMessage').text('사용가능한 이메일 입니다.');
	                    $('#emailOverlapClickChk').val(1);
	                	// 회원 등록할 때 중복확인 버튼을 눌렀다는 걸 알려줄 값   0:안누름 / 1:누름
	                } else if(response.result == 0){
	                	alert('사용 중인 이메일 입니다');
	                	$("#inputEmail").focus();
	                	//$('#emailOverlapMessage').text('이미 가입된 이메일 입니다');
	                } else {
	                    alert('검사 중 에러가 발생했습니다');
	                }
	            },
	            error: function(jqXHR, textStatus, errorThrown){
	                alert("arjax error : " + textStatus + "\n" + errorThrown);
	            }
	        });
		});
		
		// 값을 바꿨을 경우 중복확인 버튼을 다시 눌러야함 (중복확인 버튼 눌럿는지 체크하는 값을 0으로 셋팅) 0:안누름 / 1:누름
		$("#inputEmail").on('change', function(e) {
			e.preventDefault();
			
			if($('#dbTeacherEmail').val() != $("#inputEmail").val()) {
				// 디비에 저장된 강의실코드와 새로 선택한 강의실코드가 서로 다를 경우
				$('#emailOverlapClickChk').val(0);
				// 코드가 바뀌었다고 값을 넣어준다.
				// 0:값 바뀜 / 1: 그대로(디비의 내용과 일치)
			} else {
				$('#emailOverlapClickChk').val(1);
				// 다른걸 선택했다가 다시 원래 선택값으로 바꾸었다.
				// 0:값 바뀜 / 1: 그대로(디비의 내용과 일치)
			}
		});
		
		
		
		// 강사가 담당하는 강좌코드가 바뀌었다면
		$('#checkCourse').on('change', function(e){
			e.preventDefault();
			
			if($('#dbTeacherCourseNo').val() != $("#checkCourse").val()) {
				// 디비에 저장된 강사담당 강좌코드와
				// 새로 선택한 강사담당 강좌코드가 서로 다를 경우
				$("#courseNoChangeChk").val(0);
				// 코드가 바뀌었다고 값을 넣어준다.
				// 0:값 바뀜 / 1: 그대로(디비의 내용과 일치)
			} else {
				$("#courseNoChangeChk").val(1);
				// 다른걸 선택했다가 다시 원래 선택값으로 바꾸었다.
				// 0:값 바뀜 / 1: 그대로(디비의 내용과 일치)
			}
		});
		
		
		
		// 강사 수정 처리 전 공백  및  이메일 유효성 검사  ex)abc@gmail.com
		$('#updateTeacherFrmBtn').on('click', function(e){
			e.preventDefault();
			
			var emailOverlapClickChk = $('#emailOverlapClickChk').val();
			
			console.log(`emailOverlapClickChk:${emailOverlapClickChk}`);
			console.log('0이면 사용 중, 1이면 사용 가능');
			
		    if($("#inputPassword").val() ==''){
		        alert('비밀번호를 입력하세요');
		        $("#inputPassword").focus();
		        return false;
		    }
		
		    if($("#inputPasswordCheck").val() ==''){
		        alert('비밀번호를 다시 한번 더 입력하세요');
		        $("#inputPasswordCheck").focus();
		        return false;
		    }
		    
		    if($("#inputPassword").val()!== $("#inputPasswordCheck").val()){
		        alert('비밀번호를 둘다 동일하게 입력하세요');
		        return false;
		    }
		    
		    if($("#inputName").val() ==''){
		        alert('이름을 입력하세요');
		        $("#inputName").focus();
		        return false;
		    }
		    
		    if($("#inputBirth").val() ==''){
		        alert('생년월일을 선택하세요');
		        $("#inputBirth").focus();
		        return false;
		    }
		    
		    var email = $('#inputEmail').val();
		    if(email == ''){
		        alert('이메일을 입력하세요');
		        $('#emailOverlapClickChk').val(0);
		        // 중복확인 버튼을 눌러줘야하므로 중복확인 버튼을 안누른 값으로 셋팅한다.
		        // 0:안누름 / 1:누름
		        $("#inputEmail").focus();
		        return false;
		    } else {
		        var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		        if (!emailRegex.test(email)) {
		            alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
		            $("#inputEmail").focus();
		            $('#emailOverlapClickChk').val(0);
		            // 중복확인 버튼을 눌러줘야하므로 중복확인 버튼을 안누른 값으로 셋팅한다.
		            // 0:안누름 / 1:누름
		            return false;
		        }
		    }
		    
		    if($("#emailOverlapClickChk").val() == 0){
		        alert('이메일 중복확인을 해주세요');
		        $("#inputEmail").focus();
		        return false;
		    }
		    
		    if($("#checkCourse").val() ==''){
		        alert('담당 강좌를 선택하세요');
		        $("#checkCourse").focus();
		        return false;
		    }
		    
		    if($("#inputPhone").val() ==''){
		        alert('휴대폰 번호를 입력하세요');
		        $("#inputPhone").focus();
		        return false;
		    }
		    
		    if($("#inputAddr").val() ==''){
		        alert('주소를 입력하세요');
		        $("#inputAddr").focus();
		        return false;
		    }
		    
		    if($("#courseNoChangeChk").val() == 0 && $("#inputTeacherReasonForChange").val() == ''){
	        	// 강사 테이블의 강좌코드를 바꿨으나 강좌변경사유를 입력하지 않았다면
	        	// courseNoChangeChk => 0:값 바뀜 / 1: 그대로(디비의 내용과 일치)
	            alert('강좌변경사유를 입력하세요');
	            $("#inputTeacherReasonForChange").focus();
	            return false;
	        }
		    
		    if($("#courseNoChangeChk").val() == 0 && $("#inputTeacherReasonForChange").val() != ''){
	        	// 강좌코드를 수정했고 강사 담당 강좌변경사유를 입력했다면
	        	// 0:값 바뀜 / 1: 그대로(디비의 내용과 일치)
	        	$("#teacherIsChanged").val("유");
	        	// 강사담당 강좌변경유무를 "유"로 바꿔준다.
 	        }
		    
		    $('#updateTeacherFrm').submit();
		});
	</script>
</th:block>

</html>