<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강의실목록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>강의실목록</h3>
		</div>
	</div>
	
	<div class="col-sm-11 col-md-offset-3">
		<form class="form-inline" action="/searchAcademyRoom" method="post">
			<div class="form-group">
				<label class="sr-only" for="searchRoomFloor">층</label>
				<!-- <div class="input-group"> -->
				<select id="searchRoomFloor" name="roomFloor"
						onchange="roomUsageSelect(this.value)" class="form-control">
					<option value="0">층수</option>
					<option th:each="roomFloor : ${roomFloorList}"
							th:value="${roomFloor}"
							th:text="${roomFloor + '층'}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group"><!-- 층수를 선택하면 ajax로 층수에 해당하는 실용도가 뜨게 한다. -->
				<label class="sr-only" for="searchRoomUsage">실용도</label>
				<!-- <div class="input-group"> -->
				<select id="searchRoomUsage" name="roomUsage"
						class="form-control">
					<option value="">실용도</option>
				</select>
				<!-- </div> -->
			</div>
			<button type="submit" class="btn btn-success">검색</button>
		</form>
		
		<div class="row"
			 th:if="${session.memberLevel == '관리자'.toString()}">
			<div class="col-md-3" >
				<table class="table">
					<tbody>
						<tr>
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-block"
										onclick="location.href='/addAcademyRoom'">
									강의실등록
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>코드</th>
					<th>호실번호</th>
					<th>층수</th>
					<th>실용도</th>
					<th th:if="${session.memberLevel == '관리자'.toString()}">코드변경</th>
					<th>등록일</th>
					<th th:if="${session.memberLevel == '관리자'.toString()}">상세</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="room, lists : ${roomList}"
					th:if="${roomListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${room.roomNo}"></td>
					<td th:text="${room.roomNumber}"></td>
					<td th:text="${room.roomFloor}"></td>
					<td th:text="${room.roomUsage}"></td>
					<td th:text="${room.roomIsChanged}"
						th:if="${session.memberLevel == '관리자'.toString()}"></td>
					<td th:text="${#calendars.format(room.roomRegisteredDate,'yyyy-MM-dd')}"></td>
					<td th:if="${session.memberLevel == '관리자'.toString()}">
						<button type="button" class="btn btn-success btn-sm"
								th:onclick="'window.location.href = \'' + @{/updateAcademyRoom(roomNo=${room.roomNo})} + '\''">
							상세
						</button>
					</td>
				</tr>
				
				<tr th:unless="${roomListSize != 0}">
					<td colspan="7">등록된 강의실이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		function roomUsageSelect(roomFloor) {
			console.log(`roomFloor:${roomFloor}`);
			
			$.ajax({
				 type: "POST"
				,url: "/roomUsageSelect"
				,dataType:"json"
				,data: roomFloor
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					//SELECT BOX 초기화           
					$("#searchRoomUsage").find("option").remove().end().append("<option value=''>실용도</option>");
					
					//배열 개수 만큼 option 추가
					$.each(result, function(i){
						console.log(`넘어온 실용도:${result}`);
						$("#searchRoomUsage").append("<option value='"+result[i].roomUsage+"'>"+result[i].roomUsage+"</option>");
					});    
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
	</script>
</th:block>

</html>