<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>성적기준목록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>성적기준목록</h3>
		</div>
	</div>
	
	<div class="col-sm-11 col-md-offset-3">
		<form class="form-inline" action="/searchGradingCriteria" method="post">
			<div class="form-group">
				<label class="sr-only" for="searchGradingCriteriaRating">등급</label>
				<!-- <div class="input-group"> -->
				<select id="searchGradingCriteriaRating" name="gradingCriteriaRating"
						class="form-control">
				<!-- 보통 검색을 할때는 '이름'으로 검색하므로 디비에서 샐렉트시 -->
				<!-- %강좌명%으로 검색하면 좋을 것이다. -->
					<option value="">등급</option>
					<option th:each="grade : ${gradingCriteriaList}"
							th:value="${grade.gradingCriteriaRating}"
							th:text="${grade.gradingCriteriaRating}"></option>
				</select>
				<!-- </div> -->
			</div>
			<button type="submit" class="btn btn-default">검색</button>
		</form>
		
		<div class="row">
			<div class="col-md-3" >
				<table class="table">
					<tbody>
						<tr>
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-block"
										onclick="location.href='/addGradingCriteria'">
									성적기준등록
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>등급</th>
					<th>시작점수</th>
					<th>끝점수</th>
					<th>평점</th>
					<th>등록일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="grade, lists : ${gradingCriteriaList}"
					th:if="${gradingCriteriaListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${grade.gradingCriteriaRating}"></td>
					<td th:text="${grade.gradingCriteriaStartOfSection}"></td>
					<td th:text="${grade.gradingCriteriaEndOfSection}"></td>
					<td th:text="${grade.gradingCriteria}"></td>
					<td th:text="${grade.gradingCriteriaRegisteredDate}"></td>
				</tr>
				
				<tr th:unless="${gradingCriteriaListSize != 0}">
					<td colspan="6">등록된 성적기준이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>