<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강좌배정목록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>강좌배정목록</h3>
		</div>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form class="form-inline" action="/searchCourseAssignList" method="post">
			<div class="form-group">
				<label class="sr-only" for="subjectList">과목명</label>
				<!-- <div class="input-group"> -->
				<select id="subjectList" name="subjectNo"
						class="form-control">
					<option value="not">과목명</option>
					<option th:each="subject : ${subjectList}"
							th:value="${subject.subjectNo}"
							th:text="${subject.subjectName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="courseList">강좌명</label>
				<input type="text" class="form-control" id="inputCourseName"
					   name="courseName" placeholder="강좌명을 입력하세요.">
			</div>
			
			<button type="submit" class="btn btn-success">검색</button>
		</form>
		
		
		<div class="row"
			 th:if="${session.memberLevel == '관리자'.toString()}">
			<div class="col-md-5" >
				<table class="table">
					<tbody>
						<tr>
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/notTeacherCourseAssignList} + '\''">
									강사가 배정안된 강좌배정목록
								</button>
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/addCourseAssign} + '\''">
									강좌배정추가
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<h4>강좌강의실 배정현황</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>강좌</th>
					<th>과목</th>
					<th>강의실</th>
					<th>층</th>
					<th>강사</th>
					<th>등록일</th>
					<th th:if="${session.memberLevel == '관리자'.toString()}">강좌수정</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course, lists : ${courseAssignmentList}"
					th:if="${courseAssignmentListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${course.courseName}"></td>
					<td th:text="${course.subjectName}"></td>
					<td th:text="${course.roomNumber + '호'}"></td>
					<td th:text="${course.roomFloor + '층'}"></td>
					<td th:text="${course.memberName}"></td>
					<td th:text="${course.courseRegisteredDate}"></td>
					<td th:if="${session.memberLevel == '관리자'.toString()}">
						<button type="button" class="btn btn-success btn-sm"
								th:onclick="'window.location.href = \'' + @{/updateCourseAssign(courseAssignmentNo=${course.courseAssignmentNo}, memberId=${course.memberId})} + '\''">
							수정
						</button>
					</td>
				</tr>
				
				<tr th:unless="${courseAssignmentListSize != 0}">
					<td colspan="5">등록된 강좌배정목록이 없습니다.</td>
				</tr>
			</tbody>
		</table>
			
			
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>