<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강사를 배정해야할 강좌배정목록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>강사를 배정해야할 강좌배정목록</h3>
		</div>
	</div>
	
	<div class="col-sm-10 col-md-offset-3">
		<form class="form-inline" action="/searchNotTeacherCourseAssignList" method="post">
			<div class="form-group">
				<label class="sr-only" for="subjectList">과목명</label>
				<!-- <div class="input-group"> -->
				<select id="subjectList" name="subjectNo"
						onchange="courseSelect(this.value)" class="form-control">
					<option value="not">과목명</option>
					<option th:each="subject : ${subjectList}"
							th:value="${subject.subjectNo}"
							th:text="${subject.subjectName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="inputCourseName">강좌명</label>
				<input type="text" class="form-control" id="inputCourseName"
					   name="courseName" placeholder="강좌명을 입력하세요.">
			</div>
			
			<button type="submit" class="btn btn-success">검색</button>
		</form>
		
		<div class="row">
			<div class="col-md-4" >
				<table class="table">
					<tbody>
						<tr>
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/addCourseAssign} + '\''">
									강좌배정추가
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>배정코드</th>
					<th>강좌</th>
					<th>과목</th>
					<th>강의실</th>
					<th>층수</th>
					<th>등록일</th>
					<th>상세</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course, lists : ${courseNotAssignmentTeacherList}"
					th:if="${courseNotAssignmentTeacherListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${course.courseAssignmentNo}"></td>
					<td th:text="${course.courseName}"></td>
					<td th:text="${course.subjectName}"></td>
					<td th:text="${course.roomNumber + '호'}"></td>
					<td th:text="${course.roomFloor + '층'}"></td>
					<td th:text="${#calendars.format(course.courseRegisteredDate,'yyyy-MM-dd')}"></td>
					<td>
						<button type="button" class="btn btn-success btn-sm"
								th:onclick="'window.location.href = \'' + @{/updateCourseNotAssignTeacher(courseAssignmentNo=${course.courseAssignmentNo}, courseNo=${course.courseNo})} + '\''">
							상세
						</button>
					</td>
				</tr>
				
				<tr th:unless="${courseNotAssignmentTeacherListSize != 0}">
					<td colspan="5">강사 배정이 필요한 강의실이 배정된 강좌목록이 없습니다.</td>
				</tr>
			</tbody>
		</table>
			
			
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>