<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="footerScriptFragment">
		 <!-- plugins:js -->
		  <script src="vendors/base/vendor.bundle.base.js"></script>
		  <!-- endinject -->
		  <!-- Plugin js for this page-->
		  <script src="vendors/chart.js/Chart.min.js"></script>
		  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
		  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
		  <!-- End plugin js for this page-->
		  <!-- inject:js -->
		  <!-- <script src="js/off-canvas.js"></script>
		  <script src="js/hoverable-collapse.js"></script>
		  <script src="js/template.js"></script> -->
		  
		  <script src="js/member_join.js"></script>
		  <!-- 회원 가입 및 수정 시 사용되는 스크립트 파일 -->
	</th:block>	
	
</html>