<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="leftmenuFragment">
 	<!-- partial:partials/_sidebar.html -->
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/addMember}">
					<i class="mdi mdi-account-plus menu-icon"></i><span class="menu-title">학원소개</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" th:href="@{/addMember}">
					<i class="mdi mdi-account-plus menu-icon"></i><span class="menu-title">공지사항</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#ui-teacher" aria-expanded="false" aria-controls="ui-basic">
					<i class="mdi mdi-account-multiple menu-icon"></i> 
					<span class="menu-title">선생님 소개</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-teacher">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/memberList}">국어</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/memberList">영어</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/memberList">수학</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#ui-textbook" aria-expanded="false" aria-controls="ui-basic">
					<i class="mdi mdi-bulletin-board menu-icon"></i> 
					<span class="menu-title">교재소개</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-textbook">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/addBoard}">고1</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/boardList}">고2</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/boardList}">고3</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#ui-board" aria-expanded="false" aria-controls="ui-basic">
					<i class="mdi mdi-bulletin-board menu-icon"></i> 
					<span class="menu-title">학습커뮤니티</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-board">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/addBoard}">질의문답</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/boardList}">과제</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/boardList}">건의사항</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#ui-counsel" aria-expanded="false" aria-controls="ui-basic">
					<i class="mdi mdi-bulletin-board menu-icon"></i> 
					<span class="menu-title">학습상담</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-counsel">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/addBoard}">상담절차</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/boardList}">신입생상담</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/boardList}">학습고민상담</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" th:href="@{/addMember}">
					<i class="mdi mdi-account-plus menu-icon"></i><span class="menu-title">나의 강의실</span>
				</a>
			</li>
		</ul>
	</nav>
</th:block>
</html>