<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${teacherInfo.courseName + ' 시간표 작성'}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-6 col-md-offset-3">
			<h3 th:text="${teacherInfo.memberName + ' : ' + teacherInfo.courseName + ' 시간표 작성'}"></h3>
		</div>
	</div>
	
	<div class="col-sm-12 col-md-offset-3">
		<div class="row">
			<div class="col-md-3">
				<form role="form" id="scheduleJoinFrm"
					  action="/addSchedule" method="post">
					<input type="hidden" name="memberId" th:value="${teacherInfo.memberId}">
					<!-- 추가처리 후 강좌시간표승인요청 리스트로 가든 -->
					<!-- 추가실패하여 다시 추가폼으로 오든 강사의 아이디는 항상 가지고 가야한다. -->
					
					<input type="hidden" name="scheduleApprovalStatus" value="무">
					<!-- 시간표를 등록하고 관리자에게 승인을 받아야하므로 승인여부 (유,무)를 '무'로 설정한다. -->
					
					<div class="form-group">
						<label for="inputScheduleNo">시간표코드</label>
						<div class="input-group">
							<input type="text" class="form-control" id="inputScheduleNo"
								   name="scheduleNo">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-sm"
										id="scheduleNoOverlapBtn">중복확인</button>
								<input type="hidden" id="scheduleNoOverlapClickChk" value="0">
								<!-- 중복확인 버튼을 누르지 않음으로 설정한다. 0:안누름 / 1:누름 -->
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="courseAssignmentList">강좌강의실배정</label>
						<!-- <div class="input-group"> -->
						<select id="courseAssignmentList" name="courseAssignmentNo"
								class="form-control">
							<option value="">선택</option>
							<option th:each="course : ${courseAssignList}"
									th:value="${course.courseAssignmentNo}"
									th:text="${course.courseName + ' : ' + course.roomFloor + '층 ' + course.roomNumber + '호'}"></option>
						</select>
						<!-- </div> -->
					</div>
					
					<!-- 요일 선택시 해당 요일로 등록된 시간표를 우측에 보여준다. -->
					<!-- 우측에 표시된 시간표를 보고 비어있는 시간(교시)으로 시간표를 등록한다. -->
					<div class="form-group">
						<label for="scheduleDayList">요일</label>
						<!-- <div class="input-group"> -->
						<select id="scheduleDayList" name="scheduleDay"
								onchange="viewScheduleByDay(this.value)" class="form-control">
							<option value="not">선택</option>
							<option value="월">월</option>
							<option value="화">화</option>
							<option value="수">수</option>
							<option value="목">목</option>
							<option value="금">금</option>
						</select>
						<!-- </div> -->
					</div>
					
					<div class="form-group">
						<label for="inputSchedulePeriod">교시</label>
						<input type="number" class="form-control" id="inputSchedulePeriod"
							   name="schedulePeriod">
					</div>
					
					<div class="form-group">
						<div class="row"> <!-- style="vertical-align: bottom;" -->
							<div class="col-md-4">
								<button type="button" onclick="javascript:history.back()"
									class="btn btn-primary btn-sm btn-block">뒤로</button>
							</div>
							<div class="col-md-4">
								<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
							</div>
							<div class="col-md-4">
								<button type="button" id="scheduleJoinFrmBtn"
										class="btn btn-primary btn-sm btn-block">입력</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-9">
				<h6>강좌시간표</h6>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>번호</th>
							<th>교시</th>
							<th>요일</th>
							<th>과목</th>
							<th>강좌</th>
							<th>강사</th>
							<th>강의실</th>
							<th>등록일</th>
						</tr>
					</thead>
					<tbody id="scheduleDayViewList">
						<tr>
							<td colspan="7">선택한 강좌시간표가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		
		// 요일을 변경했을 경우 해당 요일의 시간표를 보여준다.
		function viewScheduleByDay(scheduleDay) {
			console.log(`scheduleDay:${scheduleDay}`);
			
			$.ajax({
				 type: "POST"
				,url: "/getScheduleByDay"
				,dataType:"json"
				,data: scheduleDay
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					
					console.log(`넘어온 시간표 : ${result}`);
					console.log('넘어온 시간표 사이즈 : ' + Object.keys(result).length);
					
					var length = Object.keys(result).length;
					console.log(`length : ${length}`);
					
					//테이블 초기화           
					$("#scheduleDayViewList").children().remove();
					
					if(length != 0) {
						// 넘어온 시간표리스트의 사이즈가 0보다 크다.
						// 해당 요일에 등록된 시간표가 존재한다면
						
						//배열 개수 만큼 option 추가
						$.each(result, function(i){
							
							//console.log(`강좌명:${result[i].courseName}`);
							
							var count = 1;
							var contents = '';
							contents += '<tr>';
							contents +=		'<td>'+ count +'</td>';
					        contents +=		'<td>'+ result[i].schedulePeriod +'</td>';
					        contents +=		'<td>'+ result[i].scheduleDay +'</td>';
					        contents +=		'<td>'+ result[i].subjectName +'</td>';
					        contents +=		'<td>'+ result[i].courseName +'</td>';
					        contents +=		'<td>'+ result[i].memberName +'</td>';
						    contents +=		'<td>'+ result[i].roomFloor + '층 ' + result[i].roomNumber + '호' +'</td>';
						    contents +=		'<td>'+ result[i].scheduleRegisteredDate +'</td>';
							contents += '</tr>';
							
							$('#scheduleDayViewList').append(contents);
							
						});
					} else {  // 넘어온 시간표리스트의 사이즈가 0이다. 해당 요일에 등록된 시간표가 없다.
						var contents = '';
						contents += '<tr>';
						contents +=		'<td colspan="7">해당 요일에 등록된 강좌시간표가 없습니다.</td>';
						contents += '</tr>';
						
						$('#scheduleDayViewList').append(contents);
					}
					
					
					/* var contents = '';
					contents += '<tr th:each="schedule, lists : ${'+ result +'}" th:if="${'+ length +' != 0}">';
			        contents +=		'<td th:text="${lists.count}"></td>';
			        contents +=		'<td th:text="${schedule.schedulePeriod}"></td>';
			        contents +=		'<td th:text="${schedule.scheduleDay}"></td>';
			        contents +=		'<td th:text="${schedule.subjectName}"></td>';
			        contents +=		'<td th:text="${schedule.courseName}"></td>';
			        contents +=		'<td th:text="${schedule.memberName}"></td>';
			        contents +=		'<td th:text="${schedule.roomFloor + \'층 \' + schedule.roomNumber + \'호\'}"></td>';
			        contents += '</tr>';
			        
			        $('#scheduleDayList').append(contents); // 추가기능 */
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
		
		
		// 시간표코드 중복 확인
		$('#scheduleNoOverlapBtn').on('click', function(e){
			e.preventDefault();
			var scheduleNo = $('#inputScheduleNo').val();
			console.log(`scheduleNo:${scheduleNo}`);
			
			if($("#inputScheduleNo").val() ==''){
	            alert('시간표코드를 입력하세요');
	            $("#inputScheduleNo").focus();
	            return false;
	        }
			
			$.ajax({
	            url: '/scheduleNoOverlapChk',
	            type: 'POST',
	            data: scheduleNo,
	            dataType: 'json',
	            contentType: "application/json; charset=UTF-8",
	            success: function (response) {
	                if(response.result == 1){
	                	alert('사용 가능한 코드 입니다.');
	                    $('#scheduleNoOverlapClickChk').val(1);
	                	// 중복확인 버튼 누름으로 변경 0:안누름 / 1:누름
	                } else if(response.result == 0){
	                	alert('이미 등록된 코드 입니다');
	                } else {
	                    alert('검사 중 에러가 발생했습니다');
	                }
	            },
	            error: function(jqXHR, textStatus, errorThrown){
	                alert("arjax error : " + textStatus + "\n" + errorThrown);
	            }
	        });
		});
		
		// 값을 바꿨을 경우 중복확인 버튼을 다시 눌러야함 (중복확인 버튼 눌럿는지 체크하는 값을 0으로 셋팅) 0:안누름 / 1:누름
		$("#inputScheduleNo").on('change', function(e) {
			e.preventDefault();
			$('#scheduleNoOverlapClickChk').val(0);
		});
		
		
		
		// 강좌시간표 등록 처리 전 공백 및 중복확인버튼 눌렀는지 유효성 검사
		$('#scheduleJoinFrmBtn').on('click', function(e){
			e.preventDefault();
			
			var scheduleNoOverlapClickChk = $('#scheduleNoOverlapClickChk').val();
			
			console.log(`scheduleNoOverlapClickChk:${scheduleNoOverlapClickChk}`);
			console.log('0이면 사용 중, 1이면 사용 가능');
			
	        if($("#inputScheduleNo").val() ==''){
	            alert('시간표코드를 입력하세요');
	            $('#scheduleNoOverlapClickChk').val(0);
	            // 만약 시간표코드를 입력하고 중복확인 버튼을 눌러서 사용가능한 코드라고 나오면 중복확인 버튼 체크값이 1로 바뀐다.
	            // 재입력하고자 값을 지웠을 경우 다시 눌러줘야한다.
	            $("#inputScheduleNo").focus();
	            return false;
	        }
	        
	        if($("#scheduleNoOverlapClickChk").val() == 0){
	            alert('시간표코드 중복확인을 해주세요');
	            $("#inputScheduleNo").focus();
	            return false;
	        }
	        
	        if($("#courseAssignmentList").val() ==''){
	            alert('강좌강의실배정을 선택하세요');
	            $("#courseAssignmentList").focus();
	            return false;
	        }
	        
	        if($("#scheduleDayList").val() =='not'){
	            alert('요일을 선택하세요');
	            $("#scheduleDayList").focus();
	            return false;
	        }
	        
	        if($("#inputSchedulePeriod").val() ==''){
	            alert('교시를 입력하세요');
	            $("#inputSchedulePeriod").focus();
	            return false;
	        }
	        
	        $('#scheduleJoinFrm').submit();
	    });
	</script>
</th:block>

</html>