<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${scheduleInfo.courseName + ' 시간표 상세'}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-6 col-md-offset-3">
			<h3 th:text="${scheduleInfo.memberName + ' : ' + scheduleInfo.courseName + ' 시간표 상세'}"></h3>
		</div>
	</div>
	
	<div class="col-sm-12 col-md-offset-3">
		<div class="row">
			<div class="col-md-3">
				<form role="form" id="updateScheduleJoinFrm"
					  action="/updateSchedule" method="post">
					<input type="hidden" name="memberId"
						th:if="${session.memberLevel == '강사'.toString()}" th:value="${scheduleInfo.memberId}">
					<!-- 강사회원이 수정처리 후 강좌시간표승인요청 리스트로 갈때 강사의 아이디를 가지고 가야한다. -->
					
					<input type="hidden" name="scheduleApprovalStatus" value="유"
							th:if="${session.memberLevel == '관리자'.toString()}">
					<!-- 관리자가 시간표를 수정했을 경우 관리자 승인여부가 필요없으므로 승인여부 (유,무)를 '유'로 설정한다. -->
					
					<input type="hidden" name="scheduleApprovalStatus" value="무"
							th:if="${session.memberLevel == '강사'.toString()}">
					<!-- 강사가 시간표를 수정했을 경우 관리자에게 승인을 받아야하므로 승인여부 (유,무)를 '무'로 설정한다. -->
					
					<div class="form-group">
						<label for="inputScheduleNo">시간표코드</label>
						<div class="input-group">
							<input type="text" class="form-control" id="inputScheduleNo"
								   name="scheduleNo"
								   th:value="${scheduleInfo.scheduleNo}"
								   readonly="readonly">
						</div>
					</div>
					
					<div class="form-group">
						<label for="courseAssignmentList">강좌강의실배정</label>
						<!-- <div class="input-group"> -->
						<select id="courseAssignmentList" name="courseAssignmentNo"
								class="form-control">
							<option value="">선택</option>
							<option th:each="course : ${courseAssignList}"
									th:value="${course.courseAssignmentNo}"
									th:text="${course.courseName + ' : ' + course.roomFloor + '층 ' + course.roomNumber + '호'}"></option>
						</select>
						<!-- </div> -->
					</div>
					
					<!-- 요일 선택시 해당 요일로 등록된 시간표를 우측에 보여준다. -->
					<!-- 우측에 표시된 시간표를 보고 비어있는 시간(교시)으로 시간표를 등록한다. -->
					<div class="form-group">
						<label for="scheduleDayList">요일</label>
						<!-- <div class="input-group"> -->
						<select id="scheduleDayList" name="scheduleDay"
								onchange="viewScheduleByDay(this.value)" class="form-control">
							<option value="not">선택</option>
							<option value="월">월</option>
							<option value="화">화</option>
							<option value="수">수</option>
							<option value="목">목</option>
							<option value="금">금</option>
						</select>
						<!-- </div> -->
					</div>
					
					<div class="form-group">
						<label for="inputSchedulePeriod">교시</label>
						<input type="number" class="form-control" id="inputSchedulePeriod"
							   name="schedulePeriod"
							   th:value="${scheduleInfo.schedulePeriod}">
					</div>
					
					<div class="form-group">
						<div class="row"> <!-- style="vertical-align: bottom;" -->
							<div class="col-md-4">
								<span th:if="${session.memberLevel == '관리자'.toString()}">
									<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/deleteSchedule(scheduleNo=${scheduleInfo.scheduleNo})} + '\''">
										삭제
									</button>
								</span>
								<span th:if="${session.memberLevel == '강사'.toString()}">
									<button type="button" class="btn btn-primary btn-sm btn-block"
										th:onclick="'window.location.href = \'' + @{/deleteSchedule(scheduleNo=${scheduleInfo.scheduleNo}, memberId=${scheduleInfo.memberId})} + '\''">
										삭제
									</button>
								</span>
							</div>
							<div class="col-md-4">
								<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
							</div>
							<div class="col-md-4">
								<button type="button" id="updateScheduleJoinFrmBtn"
										class="btn btn-primary btn-sm btn-block">수정</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-9">
				<h6>강좌시간표</h6>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>번호</th>
							<th>교시</th>
							<th>요일</th>
							<th>과목</th>
							<th>강좌</th>
							<th>강사</th>
							<th>강의실</th>
							<th>등록일</th>
						</tr>
					</thead>
					<tbody id="scheduleDBList">
						<tr th:each="schedule, lists : ${scheduleList}"
							th:if="${scheduleListSize != 0}">
							<td th:text="${lists.count}"></td>
							<td th:text="${schedule.schedulePeriod}"></td>
							<td th:text="${schedule.scheduleDay}"></td>
							<td th:text="${schedule.subjectName}"></td>
							<td th:text="${schedule.courseName}"></td>
							<td th:text="${schedule.memberName}"></td>
							<td th:text="${schedule.roomFloor + '층 ' + schedule.roomNumber + '호'}"></td>
							<td th:text="${#calendars.format(schedule.scheduleRegisteredDate,'yyyy-MM-dd')}"></td>
						</tr>
						
						<tr th:unless="${scheduleListSize != 0}">
							<td colspan="7">등록된 강좌시간표가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript">
		/*<![CDATA[*/
			var courseAssignmentNo = /*[[ ${scheduleInfo.courseAssignmentNo} ]]*/;
			var scheduleDay = /*[[ ${scheduleInfo.scheduleDay} ]]*/;
		/*]]*/
		
		$(document).ready(function(){
			console.log(`courseAssignmentNo:${courseAssignmentNo}`);
			
			$("#courseAssignmentList").val(courseAssignmentNo);
			$("#scheduleDayList").val(scheduleDay);
		});
	</script>
	
	<script type="text/javascript">
		
		// 요일을 변경했을 경우 해당 요일의 시간표를 보여준다.
		function viewScheduleByDay(scheduleDay) {
			console.log(`scheduleDay:${scheduleDay}`);
			
			$.ajax({
				 type: "POST"
				,url: "/getScheduleByDay"
				,dataType:"json"
				,data: scheduleDay
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					
					console.log(`넘어온 시간표 : ${result}`);
					console.log('넘어온 시간표 사이즈 : ' + Object.keys(result).length);
					
					var length = Object.keys(result).length;
					console.log(`length : ${length}`);
					
					//테이블 초기화           
					$("#scheduleDBList").children().remove();
					
					if(length != 0) {
						// 넘어온 시간표리스트의 사이즈가 0보다 크다.
						// 해당 요일에 등록된 시간표가 존재한다면
						
						//배열 개수 만큼 option 추가
						$.each(result, function(i){
							
							//console.log(`강좌명:${result[i].courseName}`);
							
							var count = 1;
							var contents = '';
							contents += '<tr>';
							contents +=		'<td>'+ count +'</td>';
					        contents +=		'<td>'+ result[i].schedulePeriod +'</td>';
					        contents +=		'<td>'+ result[i].scheduleDay +'</td>';
					        contents +=		'<td>'+ result[i].subjectName +'</td>';
					        contents +=		'<td>'+ result[i].courseName +'</td>';
					        contents +=		'<td>'+ result[i].memberName +'</td>';
						    contents +=		'<td>'+ result[i].roomFloor + '층 ' + result[i].roomNumber + '호' +'</td>';
						    contents +=		'<td>'+ result[i].scheduleRegisteredDate +'</td>';
							contents += '</tr>';
							
							$('#scheduleDBList').append(contents);
						});
					} else {  // 넘어온 시간표리스트의 사이즈가 0이다. 해당 요일에 등록된 시간표가 없다.
						var contents = '';
						contents += '<tr>';
						contents +=		'<td colspan="7">해당 요일에 등록된 강좌시간표가 없습니다.</td>';
						contents += '</tr>';
						
						$('#scheduleDBList').append(contents);
					}
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
		
		
		
		// 강좌시간표 수정 처리 전 공백 유효성 검사
		$('#updateScheduleJoinFrmBtn').on('click', function(e){
			e.preventDefault();
			
	        if($("#courseAssignmentList").val() ==''){
	            alert('강좌강의실배정을 선택하세요');
	            $("#courseAssignmentList").focus();
	            return false;
	        }
	        
	        if($("#scheduleDayList").val() ==''){
	            alert('요일을 선택하세요');
	            $("#scheduleDayList").focus();
	            return false;
	        }
	        
	        if($("#inputSchedulePeriod").val() ==''){
	            alert('교시를 입력하세요');
	            $("#inputSchedulePeriod").focus();
	            return false;
	        }
	        
	        $('#updateScheduleJoinFrm').submit();
	    });
	</script>
</th:block>

</html>