<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>강좌시간표 승인 요청</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-6 col-md-offset-3">
			<h3>강좌시간표 승인 요청</h3>
		</div>
	</div>
	
	<div class="col-sm-11 col-md-offset-3">
		<form class="form-inline" action="/searchScheduleApprovalRequest" method="post">
			<input type="hidden" name="memberLevel" value="강사">
			<input type="hidden" name="scheduleApprovalStatus" value="무">
			
			<div class="form-group">
				<label class="sr-only" for="subjectList">과목명</label>
				<!-- <div class="input-group"> -->
				<select id="subjectList" name="subjectNo" class="form-control"
						onchange="courseSelect(this.value)">
					<option value="">과목명</option>
					<option th:each="subject : ${subjectList}"
							th:value="${subject.subjectNo}"
							th:text="${subject.subjectName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="courseList">강좌명</label>
				<!-- <div class="input-group"> -->
				<select id="courseList" name="courseNo"
						class="form-control">
					<option value="">강좌명</option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="roomList">강의실</label>
				<!-- <div class="input-group"> -->
				<select id="roomList" name="roomNo"
						class="form-control">
					<option value="not">강의실</option>
					<option th:each="room : ${roomList}"
							th:value="${room.roomNo}"
							th:text="${room.roomFloor + '층 ' + room.roomNumber + '호'}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<label class="sr-only" for="teacherList">강사명</label>
				<!-- <div class="input-group"> -->
				<select id="teacherList" name="memberId"
						class="form-control">
					<option value="not">강사명</option>
					<option th:each="teacher : ${teacherList}"
							th:value="${teacher.memberId}"
							th:text="${teacher.memberName}"></option>
				</select>
				<!-- </div> -->
			</div>
			
			<button type="submit" class="btn btn-success">검색</button>
		</form>
		
		
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>교시</th>
					<th>요일</th>
					<th>과목</th>
					<th>강좌</th>
					<th>강사</th>
					<th>강의실</th>
					<th>승인</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="schedule, lists : ${scheduleList}"
					th:if="${scheduleListSize != 0}">
					<td th:text="${lists.count}"></td>
					<td th:text="${schedule.period}"></td>
					<td th:text="${schedule.day}"></td>
					<td th:text="${schedule.subjectName}"></td>
					<td th:text="${schedule.courseName}"></td>
					<td th:text="${schedule.memberName}"></td>
					<td th:text="${schedule.roomFloor + '층 ' + schedule.roomNumber + '호'}"></td>
					<td>
						<button type="button" class="btn btn-success btn-sm"
								th:onclick="scheduleApproval([[${schedule.scheduleNo}]])">
							승인
						</button>
					</td>
				</tr>
				
				<tr th:unless="${scheduleListSize != 0}">
					<td colspan="5">등록된 시간표가 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript">
		
		// 과목명을 선택하면 해당 과목코드를 참조하는 강좌 리스트가 나온다.
		function courseSelect(subjectNo) {
			console.log(`subjectNo:${subjectNo}`);
			
			$.ajax({
				 type: "POST"
				,url: "/courseSelect"
				,dataType:"json"
				,data: subjectNo
				,contentType: "application/json; charset=UTF-8"
				,success: function(result){
					//SELECT BOX 초기화           
					$("#courseList").find("option").remove().end().append("<option value=''>강좌명</option>");
					
					//배열 개수 만큼 option 추가
					$.each(result, function(i){
						console.log(`넘어온 강좌코드:${result}`);
						$("#courseList").append("<option value='"+result[i].courseNo+"'>"+result[i].courseName+"</option>");
					});    
				}
				,error: function (jqXHR, textStatus, errorThrown) {
					alert("오류가 발생하였습니다.");
				}
			});
		}
		
		
		// 강사가 승인요청한 강좌시간표 승인하기
		function scheduleApproval(scheduleNo) {
			console.log(`scheduleNo:${scheduleNo}`);
			
			$.ajax({
	            url: '/scheduleApproval',
	            type: 'POST',
	            data: scheduleNo,
	            dataType: 'json',
	            contentType: "application/json; charset=UTF-8",
	            success: function (response) {
	                if(response.result == 1){
	                	alert('승인 완료');
	                	location.href = "/scheduleApprovalRequestList?scheduleApprovalStatus='무'&memberLevel='강사'";
	                } else if(response.result == 0){
	                	alert('승인 실패');
	                } else {
	                    alert('검사 중 에러가 발생했습니다');
	                }
	            },
	            error: function(jqXHR, textStatus, errorThrown){
	                alert("arjax error : " + textStatus + "\n" + errorThrown);
	            }
	        });
		}
	</script>
</th:block>

</html>