<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>
	<style type="text/css">
		img { max-width: 100%; height: auto; }
	</style>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-sm-12 col-md-offset-3">
		<img src="/images/mainpage/loginPrev_StudentLogin.png"
			 th:if="${session.memberLevel eq '학생'.toString() || session.memberLevel eq null}"
			 alt="로그인전 및 학생로그인">
		
		<img src="/images/mainpage/teacherLogin.png"
			 th:if="${session.memberLevel eq '강사'.toString()}"
			 alt="강사로그인">
		
		<img src="/images/mainpage/adminLogin.png"
			 th:if="${session.memberLevel eq '관리자'.toString()}"
			 alt="관리자로그인">
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>