<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>학생관리</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-3">
			<h3>학생관리</h3>
		</div>
	</div>
	
	<div class="col-md-10 col-md-offset-3">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation">
					<a href="#courseEnrollee" aria-controls="courseEnrollee" role="tab" data-toggle="tab">
						<button type="button" class="btn btn-primary btn-sm">수강신청</button>
					</a>
				</li>
				
				<li role="presentation">
					<a href="#courseResult" aria-controls="courseResult" role="tab" data-toggle="tab">
						<button type="button" class="btn btn-primary btn-sm">수업결과</button>
					</a>
				</li>
				
				<li role="presentation">
					<a href="#testResult" aria-controls="testResult" role="tab" data-toggle="tab">
						<button type="button" class="btn btn-primary btn-sm">성적결과</button>
					</a>
				</li>
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content" style="margin-top: 5px;">
				<div role="tabpanel" class="tab-pane" id="courseEnrollee">
					<div class="form-group my-auto">
						<div class="col-md-10 col-md-offset-3">
							<h4>수강신청</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<form action="/addCourseEnrollee" method="post">
							<!-- <input type="hidden" th:value="${member.memberId}" name="memberId"> -->
								<div class="form-group">
									<label for="inputCourseEnrolleeCode">수강신청코드</label>
									<div class="input-group">
										<input type="email" class="form-control" id="inputCourseEnrolleeCode"
											   name="courseEnrolleeCode" > <!-- th:text="${courseEnrollee.courseEnrolleeCode}" -->
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary btn-sm"
													id="courseEnrolleeCodeOverlapBtn">중복확인</button>
											<input type="hidden" id="courseEnrolleeCodeOverlapClickChk" value="0">
										</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="viewStudentName">회원명</label>
									<input type="text" class="form-control" id="viewStudentName"
										   readonly="readonly" > <!-- th:text="${paymentInfo.paymentContent}" -->
								</div>
								
								<div class="checkbox icheck-primary">
									<input type="checkbox" id="primary" />
									<label for="primary">강의실</label>
									<label>강좌</label>
									<label>시간대</label>
								</div>
								
								<div class="checkbox icheck-primary">
									<input type="checkbox" id="aaa" />
									<label for="aaa">강의실2</label>
									<label>강좌2</label>
									<label>시간대2</label>
								</div>
								
								<div class="form-group">
									<div class="row"> <!-- style="vertical-align: bottom;" -->
										<div class="col-md-6">
											<button type="reset" class="btn btn-danger btn-sm btn-block">입력취소</button>
										</div>
										<div class="col-md-6">
											<button type="submit"class="btn btn-primary btn-sm btn-block">수강신청</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<table 
									class="table table-striped"><!-- th:if="${courseEnrollee.enrollee neq null}" -->
								<thead>
									<tr>
										<th>번호</th>
										<th>강좌명</th>
										<th>강사명</th>
										<th>신청일</th>
									</tr>
								</thead>
								<tbody>
									<tr ><!-- th:each="course, lists : ${courseEnrollee.enrolleeList}" -->
										<td ></td> <!-- th:text="${lists.count}" -->
										<td ></td>
										<td ></td>
										<td ></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="courseResult">
					<div class="form-group my-auto">
						<div class="col-md-10 col-md-offset-3">
							<h4>수업결과</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<form action="/viewOneStudentCourseResult" method="post">
								<!-- <input type="hidden" th:value="${member.memberId}" name="memberId"> -->
								<div class="form-group">
									<label for="searchAttendDay">일자</label>
									<!-- <div class="input-group"> -->
										<select id="searchAttendDay" name="searchbygenerals[currency]"
												class="form-control">
											<option value="1">HUF</option>
											<option value="2">EUR</option>
										</select>
									<!-- </div> -->
								</div>
								
								<div class="form-group">
									<label for="searchAttendDay">강좌선택</label>
									<!-- <div class="input-group"> -->
										<select id="searchbygenerals_currency" name="searchbygenerals[currency]"
												class="form-control">
											<option value="1">HUF</option>
											<option value="2">EUR</option>
										</select>
									<!-- </div> -->
								</div>
								
								<div class="form-group">
									<div class="row"> <!-- style="vertical-align: bottom;" -->
										<div class="col-md-6">
											<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
										</div>
										<div class="col-md-6">
											<button type="submit"class="btn btn-primary btn-sm btn-block">검색</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>번호</th>
										<th>강좌</th>
										<th>강사</th>
										<th>시작시간</th>
										<th>마침시간</th>
										<th>출결여부</th>
									</tr>
								</thead>
								<tbody>
									<tr><!-- th:each="course, lists : ${courseEnrollee.enrolleeList}" -->
										<td ></td><!-- th:text="${lists.count}" -->
										<td ></td>
										<td ></td>
										<td ></td>
										<td ></td>
										<td ></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="testResult">
					<div class="form-group my-auto">
						<div class="col-md-10 col-md-offset-3">
							<h4>성적결과</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<form action="/viewOneStudentgradeResult" method="post">
								<!-- <input type="hidden" th:value="${member.memberId}" name="memberId"> -->
								<div class="form-group">
									<label for="searchAttendDay">일자</label>
									<!-- <div class="input-group"> -->
										<select id="searchAttendDay" name="attendDay"
												class="form-control">
											<option value="1">HUF</option>
											<option value="2">EUR</option>
										</select>
									<!-- </div> -->
								</div>
								
								<div class="form-group">
									<label for="searchAttendDay">강좌선택</label>
									<!-- <div class="input-group"> -->
										<select id="searchAttendDay" name="attendDay"
												class="form-control">
											<option value="1">HUF</option>
											<option value="2">EUR</option>
										</select>
									<!-- </div> -->
								</div>
								
								<div class="form-group">
									<div class="row"> <!-- style="vertical-align: bottom;" -->
										<div class="col-md-6">
											<button type="reset" class="btn btn-danger btn-sm btn-block">취소</button>
										</div>
										<div class="col-md-6">
											<button type="submit"class="btn btn-primary btn-sm btn-block">검색</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>번호</th>
										<th>강좌</th>
										<th>학생명</th>
										<th>점수</th>
										<th>등급</th>
										<th>순위</th>
									</tr>
								</thead>
								<tbody>
									<tr><!-- th:each="course, lists : ${courseRank.enrolleeList}" -->
										<td ></td><!-- th:text="${lists.count}" -->
										<td ></td>
										<td ></td>
										<td ></td>
										<td ></td>
										<td ></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">
</th:block>

</html>