<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>로그인 페이지</title>
</th:block>
<th:block layout:fragment="customContents">
	
	<div class="row text-center" style="width: 100%; align-items: center;">
		<div style="width: 80%; float:none; margin:0 auto; display:flex;
			 align-items:center;">
			<span>
				<img src="images/mainpage/login/Member_login_logo.png" alt="로그인로고"
					 class="img-responsive center-block">
			</span>
			<form action="/loginMember" method="post">
				<img src="images/mainpage/login/login_logo.png" alt="로그인로고">
				<div class="form-group" style="margin-top: 10px;">
					<label for="inputMemberId" style="font-size: large;">아이디:</label>
					<input type="text" class="form-control" id="inputMemberId" name="memberId">
				</div>
				
				<div class="form-group">
					<label for="inputMemberPw" style="font-size: large;">비밀번호:</label>
					<input type="password" class="form-control" id="inputMemberPw" name="memberPw">
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary form-control">로그인</button>
					<label id="loginError" th:if="${result ne null}" th:text="${result}"></label>
					<!-- result가 객체일 경우 값 비교하기 (ne: != ) -->
				</div>
				
				<button type="button" onclick="location.href='/findMemberId'"
						class="btn btn-primary">아이디 찾기</button>
				<button type="button" onclick="location.href='/findMemberPw'"
						class="btn btn-primary">비밀번호 찾기</button>
			</form>
			
		</div>
	</div>
</th:block>
<th:block layout:fragment="customScript">
</th:block>

</html>